[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = ">=3,<4.0"
mysqlclient = "*"
django-redis = "*"
django-import-export = "*"
celery = "*"
gunicorn = "*"
six = "*"
"discord.py" = "<2.0"
requests = "*"
django-hashid-field = "*"
django-celery-beat = "*"
channels = "*"
flower = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.9"
