[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
mysqlclient = "==1.4.*"
django-mysql = "*"
django-redis = "*"
django-import-export = "*"
celery = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.9"
