[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = ">=4.2.25,<4.3"
mysqlclient = ">=1.4.3"
redis = ">=3.4.0"
hiredis = "*"
django-import-export = "*"
celery = "*"
gunicorn = "*"
six = "*"
requests = ">=2.32.4"
django-hashid-field = "*"
django-celery-beat = "*"
flower = "*"
discord-py = "==2.5.0"
pillow = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.12"
