input#id_email {
    width: 90%;
}

ul#id_division {
    list-style-type: none;
    display:inline-block;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
}

ul#id_division li {
    display:inline;
}