html,
body {
  height: 100%;
}

html {
  /*background: rgb(80,80,80);
  background: linear-gradient(5deg, rgba(80,80,80,1) 0%, rgba(120,47,64,1) 35%, rgba(206,184,136,1) 100%);*/
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
body {
  background: #D3D3D3; /*rgb(80,80,80);
  background: linear-gradient(5deg, rgba(80,80,80,1) 0%, rgba(120,47,64,1) 35%, rgba(206,184,136,1) 100%);*/
}

.container {
  min-height: 100%;
  overflow: hidden;
}

#logo {
  margin-right: 10px;
}
