html,
body {
  height: 100%;
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
body {
  background: #D3D3D3;
}

.container {
  min-height: 100%;
  overflow: hidden;
}

#jumbo-announcements {
  background: #0182ac;
  height: 400px;
}

#jumbo-datetime {
  background: #000000;
  height: 400px;
}

#jumbo-teams {
  background: #ffffff;
  height: 400px;
}
