{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block section %}Contest Dashboard{% endblock %}

{% block content %}
	<h1 class="text-center">Contest Dashboard</h1>

	<!-- Messages -->
	{% include 'messages.html' %}
	<!-- End Messages -->

	<div class="row">
		<div class="col mt-3">
			<a href="{% url 'contest_stats' %}" class="btn btn-info" title="Contest EC, registration, & participation statistics."><i class="fa-solid fa-chart-line fa-sm fa-fw"></i> Contest Statistics</a>
		</div>
	</div>

	<!-- Contest Control Card deck -->
	<div class="card-deck">
		<!-- Team card -->
		<div class="card mt-4 border-secondary">
			<div class="card-header font-weight-bold bg-secondary text-white">
				<i class="fa-solid fa-clock-rotate-left fa-fw"></i> Pre-Contest
			</div>
			<div class="card-body overflow-auto">
				<div class="row justify-content-center">
					<a class="btn btn-primary btn-sm my-1" href="{% url 'gen_dj_files' %}" onclick="return confirm('Are you certain you want to generate the DOMjudge files?');"><i class="fa-solid fa-file-circle-plus fa-fw"></i> Generate DOMjudge TSVs</a>
					{% if dj_files_available %}					
						<a class="btn text-dark" href="{% url 'download_dj_files' %}" role="button"><i class="fa fa-download fa-md" aria-hidden="true"></i></a>
					{% else %}
						<a class="btn text-secondary disabled" href="#" role="button"><i class="fa fa-download fa-md" aria-hidden="true"></i></a>
					{% endif %}
				</div>
			</div>
		</div>
		<!-- Team card end -->
		<!-- Upload card -->
		<div class="card mt-4 border-secondary">
			<div class="card-header font-weight-bold bg-secondary text-white">
				<i class="fa-solid fa-file-arrow-up fa-fw"></i> Post Contest - Upload Results
			</div>
			<form method="post" enctype="multipart/form-data" onSubmit="return confirm('Are you certain you want to upload and process these results?');">
				<div class="card-body overflow-auto">
					{% csrf_token %}
					{% for field in file_form %}
					<p class="mb-0">
						{{ field }}<br>
						<small class="form-text text-muted">
							{% for error in field.errors %}
								<p class="text-monospace font-weight-lighter text-danger mb-0">-{{ error }}</p>
							{% endfor %}
						</small>
					</p>
					{% endfor %}
				</div>
				<div class="card-footer">
					<button class="btn btn-primary btn-sm" type="submit">Submit</button>
				</div>
			</form>
		</div>
		<!-- Upload card end -->
	</div>
	<!-- Contest Control deck end -->

	<!-- EC Control Card deck -->
	<div class="card-deck">
		<!-- EC card -->
		<div class="card mt-4 border-secondary">
			<div class="card-header font-weight-bold bg-secondary text-white">
				<i class="fa-solid fa-user-graduate fa-fw"></i> Extra Credit
			</div>
			<div class="card-body overflow-auto">
				<div class="row justify-content-center">
					
					{% if dj_results_processed %}					
						<!--<button type="button" class="btn btn-primary btn-sm my-1" data-toggle="modal" data-target="#generateEcReportsModal">Generate Reports</button>-->
						<a class="btn btn-primary btn-sm my-1" href="{% url 'gen_ec_reports' %}" onclick="return confirm('Are you certain you want to generate the extra credit files?');"><i class="fa-solid fa-file-circle-plus fa-fw"></i> Generate Reports</a>
					{% else %}
						<button type="button" class="btn btn-primary btn-sm my-1" disabled><i class="fa-solid fa-file-circle-plus fa-fw"></i> Generate Reports</button>
					{% endif %}

					{% if ec_files_available %}					
						<a class="btn text-dark" href="{% url 'download_ec_files' %}" role="button"><i class="fa fa-download fa-md" aria-hidden="true"></i></a>
					{% else %}
						<a class="btn text-secondary disabled" href="#" role="button"><i class="fa fa-download fa-md" aria-hidden="true"></i></a>
					{% endif %}
				</div>
				<div class="row justify-content-center">
					{% if ec_files_available %}
						<a class="btn btn-success btn-sm my-1" href="{% url 'email_faculty' %}" onclick="return confirm('Are you certain you want to distribute the extra credit notification?');"><i class="fa-solid fa-paper-plane fa-fw"></i> Email Faculty</a>
					{% else %}
						<button type="button" class="btn btn-success btn-sm my-1" disabled><i class="fa-solid fa-paper-plane fa-fw"></i> Email Faculty</button>
					{% endif %}
				</div>

			</div>
		</div>
		<!-- EC card end -->
		<!-- Contest tools card -->
		<div class="card mt-4 border-secondary">
			<div class="card-header font-weight-bold bg-secondary text-white">
				<i class="fa-solid fa-wrench fa-fw"></i> Contest Tools 
			</div>
			<div class="card-body overflow-auto">
				<div class="row justify-content-center">
					<button type="button" class="btn btn-primary btn-sm my-1" data-toggle="modal" data-target="#walkinModal"> <i class="fa-solid fa-person-walking fa-fw"></i> Create Walk-in teams</button>
				</div>
				<div class="row justify-content-center">
					<button type="button" class="btn btn-primary btn-sm my-1" data-toggle="modal" data-target="#checkinModal"><i class="fa-solid fa-robot fa-fw"></i> Check in/out Users</button>
				</div>							
			</div>
		</div>
		<!-- Contest tools card end -->
	</div>
	<!-- EC Control deck end -->

	<!-- Account Control Card deck -->
	<div class="card-deck">
		<!-- Profile role card -->
		<div class="card mt-4 border-secondary">
			<div class="card-header font-weight-bold bg-secondary text-white">
				<i class="fa-solid fa-user-pen fa-fw"></i> Update User Role
			</div>
			<form method="post" onSubmit="return confirm('Are you certain you want to update this user profile?');">
				<div class="card-body overflow-auto">
					{% csrf_token %}
					<div class="form-group">
						{{ profile_role_form.username | placeholder:"Username"}}
					</div>
					<div class="form-group">
						{{ profile_role_form.role }}
					</div>
				</div>
				<div class="card-footer">
					<button class="btn btn-primary btn-sm" type="submit">Submit</button>
				</div>
			</form>
		</div>
		<!-- Profile role card end -->
		<!-- Account tools card -->
		<div class="card mt-4 border-secondary">
			<div class="card-header font-weight-bold bg-secondary text-white">
				<i class="fa-solid fa-wrench fa-fw"></i> Account Tools
			</div>
			<div class="card-body overflow-auto">
				<div class="row justify-content-center">
					<button type="button" class="btn btn-primary btn-sm my-1" data-toggle="modal" data-target="#activateAccountModal"><i class="fa-solid fa-user-check fa-fw"></i> Activate User Account</button>
				</div>
				<div class="row justify-content-center">
					<button type="button" class="btn btn-primary btn-sm my-1" data-toggle="modal" data-target="#facultyTeamModal"><i
							class="fa-solid fa-chalkboard-user fa-fw"></i> Designate Faculty Team</button>
				</div>
			</div>
		</div>
		<!-- Account tools card end -->
	</div>
	<!-- Account Control deck end -->

	<!-- Discord Control Card deck -->
	<div class="card-deck">
		<!-- Roles card -->
		<div class="card mt-4 border-secondary">
			<div class="card-header font-weight-bold bg-secondary text-white">
				<i class="fa-brands fa-discord fa-fw"></i> Discord Tools
			</div>
			<div class="card-body overflow-auto">
				<div class="row justify-content-center">
					<a class="btn btn-primary btn-sm my-1" href="{% url 'create_discord_roles' %}" onclick="return confirm('Are you certain you want to create the Discord LFG roles?');"><i class="fa-solid fa-circle-plus fa-fw"></i> Create Discord LFG Roles</a>
				</div>
				<div class="row justify-content-center">
					<div class="row justify-content-center">
						<a class="btn btn-primary btn-sm my-1" href="{% url 'remove_discord_roles' %}" onclick="return confirm('Are you certain you want to remove the Discord LFG roles?');"><i class="fa-solid fa-trash-can fa-fw"></i> Remove Discord LFG Roles</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Roles card end -->
		<!-- Channel card -->
		<div class="card mt-4 border-secondary">
			<div class="card-header font-weight-bold bg-secondary text-white">
				<i class="fa-brands fa-discord fa-fw"></i> Clear Discord Channel
			</div>
			<form method="post" onSubmit="return confirm('Are you certain you want to clear this Discord channel?');">
				<div class="card-body overflow-auto">
					{% csrf_token %}
					{% for field in channel_form %}
					<p class="mb-0">
						{{ field | placeholder:"Channel ID" }}<br>
						<small class="form-text text-muted">
							{% for error in field.errors %}
							<p class="text-monospace font-weight-lighter text-danger mb-0">-{{ error }}</p>
							{% endfor %}
						</small>
					</p>
					{% endfor %}
				</div>
				<div class="card-footer">
					<button class="btn btn-primary btn-sm" type="submit">Submit</button>
				</div>
			</form>
		</div>
		<!-- Channel card end -->
	</div>
	<!-- Discord Control deck end -->

	<!-- Volunteer Summary card -->
	<div id="accordionVolunteer">
		<div class="card mt-4 mb-3 border-secondary">
			<div class="card-header font-weight-bold bg-secondary text-white" data-toggle="collapse" data-target="#collapseVolunteer" aria-expanded="true" aria-controls="collapseVolunteer" style="cursor: pointer;">
				<i class="fa-solid fa-handshake-simple fa-fw"></i> Volunteers
			</div>
			<div id="collapseVolunteer" class="collapse" data-parent="#accordionVolunteer">
				<div class="card-body overflow-auto">
					<div class="row justify-content-center">
						<div class="col-12">
							<div class="table-responsive">
								<table class="table table-sm">
									<thead class="thead-light">
										<tr>
											<th scope="col">Role</th>
											<th scope="col">Name</th>
											<th scope="col" class="text-center">Checked-in</th>
											<th scope="col" class="text-center">Added Courses</th>
											
										</tr>
									</thead>
									<tbody>
										{% for volunteer in volunteers %}
										<tr>
											<td>{{ volunteer.get_role }}</td>
											
											<td>{{ volunteer.user.get_full_name }}</td>

											{% if volunteer.checked_in %}
												<td class="text-center">Yes</td>
											{% else %}
												<td class="text-center">No</td>
											{% endif %}

											{% if volunteer.has_courses %}
												<td class="text-center">Yes</td>
											{% else %}
												<td class="text-center">No</td>
											{% endif %}
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Volunteer Summary card end -->


	<!-- Create Walk-in Teams Modal -->
	<div class="modal fade" id="walkinModal" tabindex="-1" role="dialog"
		aria-labelledby="confirmClearModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="confirmClearModalLongTitle">Create walk-in teams</h5>
				</div>
				<form method="post" onSubmit="return confirm('Are you certain you want to create these walk-in teams?');">
					{% csrf_token %}
					<div class="modal-body">
						{% for field in gen_walkin_form %}
						<p>
							<h5 class="mb-0">{{ field.label_tag }}</h5>
							{{ field }}<br>
							<small class="form-text text-muted">
								{% for error in field.errors %}
									<p class="text-monospace font-weight-lighter text-danger mb-0">-{{ error }}</p>
								{% endfor %}
								{% if field.help_text %}
									{{ field.help_text }}
								{% endif %}
							</small>
						</p>
					{% endfor %}
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" type="submit">Generate</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- End Create Walk-in Teams Modal -->


	<!-- Checkin/Checkout Users Modal -->
	<div class="modal fade" id="checkinModal" tabindex="-1" role="dialog" aria-labelledby="confirmClearModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="confirmClearModalLongTitle">Check in/out Users</h5>
				</div>
				<form method="post" onSubmit="return confirm('Are you certain you want to update check-in/out the users?');">
					{% csrf_token %}
					<div class="modal-body">
						{% for field in checkin_form %}
						<p>
						{{ field }}<br>
						<small class="form-text text-muted">
							{% for error in field.errors %}
							<p class="text-monospace font-weight-lighter text-danger mb-0">-{{ error }}</p>
							{% endfor %}
							{% if field.help_text %}
							{{ field.help_text }}
							{% endif %}
						</small>
						</p>
						{% endfor %}
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" type="submit">Process</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- End Create Walk-in Teams Modal -->


	<!-- Activate Account Modal -->
	<div class="modal fade" id="activateAccountModal" tabindex="-1" role="dialog"
		aria-labelledby="confirmClearModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="confirmClearModalLongTitle">Activate User Account</h5>
				</div>
				<form method="post" onSubmit="return confirm('Are you certain you want to activate this account?');">
					<div class="modal-body overflow-auto">
						{% csrf_token %}
						<div class="form-group">
							{{ activate_account_form.username | placeholder:"Username"}}
						</div>
					</div>
					<div class="card-footer">
						<button class="btn btn-primary btn-sm" type="submit">Submit</button>
						<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- End Activate Account Modal -->


	<!-- Designate Faculty Team Modal -->
	<div class="modal fade" id="facultyTeamModal" tabindex="-1" role="dialog"
		aria-labelledby="confirmClearModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="confirmClearModalLongTitle">Designate Faculty Team</h5>
				</div>
				<form method="post" onSubmit="return confirm('Are you certain you want to assign this team faculty status?');">
					<div class="modal-body overflow-auto">
						{% csrf_token %}
						<div class="form-group">
							{{ faculty_team_form.teamname | placeholder:"Team name"}}
						</div>
					</div>
					<div class="card-footer">
						<button class="btn btn-primary btn-sm" type="submit">Submit</button>
						<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- End Designate Faculty Team Modal -->
	
{% endblock %}
