{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block section %}Contest Dashboard{% endblock %}

{% block content %}
	<h1 class="text-center">Contest Dashboard</h1>

	<!-- Messages -->
	{% include 'messages.html' %}
	<!-- End Messages -->

	<!-- Contest Control Card deck -->
	<div class="card-deck">
		<!-- Team card -->
		<div class="card mt-4 border-secondary">
			<div class="card-header font-weight-bold bg-secondary text-white">
				<i class="fa-solid fa-file-circle-plus fa-fw"></i> Pre-Contest
			</div>
			<div class="card-body overflow-auto">
				<div class="row justify-content-center">
					<button type="button" class="btn btn-primary btn-sm my-1" data-toggle="modal"
						data-target="#generateDomjudgeTsvsModal">Generate DOMjudge TSVs</button>
					{% if dj_files_available %}					
						<a class="btn text-dark" href="{% url 'download_dj_files' %}" role="button"><i class="fa fa-download fa-md" aria-hidden="true"></i></a>
					{% else %}
						<a class="btn text-secondary disabled" href="#" role="button"><i class="fa fa-download fa-md" aria-hidden="true"></i></a>
					{% endif %}
				</div>
			</div>
		</div>
		<!-- Team card end -->
		<!-- Upload card -->
		<div class="card mt-4 border-secondary">
			<div class="card-header font-weight-bold bg-secondary text-white">
				<i class="fa-solid fa-file-arrow-up fa-fw"></i> Post Contest - Upload Results
			</div>
			<form method="post" enctype="multipart/form-data">
				<div class="card-body overflow-auto">
					{% csrf_token %}
					{% for field in file_form %}
					<p class="mb-0">
						{{ field }}<br>
						<small class="form-text text-muted">
							{% for error in field.errors %}
								<p class="text-monospace font-weight-lighter text-danger mb-0">-{{ error }}</p>
							{% endfor %}
						</small>
					</p>
					{% endfor %}
				</div>
				<div class="card-footer">
					<button class="btn btn-primary btn-sm" type="submit">Submit</button>
				</div>
			</form>
		</div>
		<!-- Upload card end -->
	</div>
	<!-- Contest Control deck end -->

	<!-- EC Control Card deck -->
	<div class="card-deck">
		<!-- EC card -->
		<div class="card mt-4 border-secondary">
			<div class="card-header font-weight-bold bg-secondary text-white">
				<i class="fa-solid fa-arrow-up-right-dots fa-fw"></i> Extra Credit
			</div>
			<div class="card-body overflow-auto">
				<div class="row justify-content-center">
					
					{% if dj_results_processed %}					
						<button type="button" class="btn btn-primary btn-sm my-1" data-toggle="modal" data-target="#generateEcReportsModal">Generate Reports</button>
					{% else %}
						<button type="button" class="btn btn-primary btn-sm my-1" data-toggle="modal" data-target="#generateEcReportsModal" disabled>Generate Reports</button>
					{% endif %}

					{% if ec_files_available %}					
						<a class="btn text-dark" href="{% url 'download_ec_files' %}" role="button"><i class="fa fa-download fa-md" aria-hidden="true"></i></a>
					{% else %}
						<a class="btn text-secondary disabled" href="#" role="button"><i class="fa fa-download fa-md" aria-hidden="true"></i></a>
					{% endif %}
				</div>
				<div class="row justify-content-center">
					{% if ec_files_available %}
						<button type="button" class="btn btn-success btn-sm my-1" data-toggle="modal" data-target="#emailFacultyModal">Email Faculty</button>
						
					{% else %}
						<button type="button" class="btn btn-success btn-sm my-1" data-toggle="modal" data-target="#emailFacultyModal" disabled>Email Faculty</button>
					{% endif %}
				</div>

			</div>
		</div>
		<!-- EC card end -->
		<!-- Tools card -->
		<div class="card mt-4 border-secondary">
			<div class="card-header font-weight-bold bg-secondary text-white">
				<i class="fa-solid fa-screwdriver-wrench fa-fw"></i> Tools 
			</div>
			<div class="card-body overflow-auto">
				<div class="row justify-content-center">
					<button type="button" class="btn btn-primary btn-sm my-1" data-toggle="modal" data-target="#walkinModal">Create walk-in teams</button>
				</div>
				<div class="row justify-content-center">
					<button type="button" class="btn btn-primary btn-sm my-1" data-toggle="modal" data-target="#checkinModal">Check in/out Users</button>
				</div>							
			</div>
		</div>
		<!-- Tools card end -->
	</div>
	<!-- EC Control deck end -->

	<!-- Account Control Card deck -->
	<div class="card-deck">
		<!-- Profile role card -->
		<div class="card mt-4 border-secondary">
			<div class="card-header font-weight-bold bg-secondary text-white">
				<i class="fa-solid fa-user-pen fa-fw"></i> Update User Role
			</div>
			<form method="post" onSubmit="return confirm('Are you certain you want to update this user profile?');">
				<div class="card-body overflow-auto">
					{% csrf_token %}
					<div class="form-group">
						{{ profile_role_form.username | placeholder:"Username"}}
					</div>
					<div class="form-group">
						{{ profile_role_form.role }}
					</div>
				</div>
				<div class="card-footer">
					<button class="btn btn-primary btn-sm" type="submit">Submit</button>
				</div>
			</form>
		</div>
		<!-- Profile role card end -->
		<!-- Placeholder card -->
		<div class="card mt-4 border-secondary">
			<div class="card-header font-weight-bold bg-secondary text-white">
				Placeholder
			</div>
			<div class="card-body overflow-auto">
			</div>
		</div>
		<!-- Placeholder card end -->
	</div>
	<!-- Account Control deck end -->

	<!-- Discord Control Card deck -->
	<div class="card-deck">
		<!-- Roles card -->
		<div class="card mt-4 border-secondary">
			<div class="card-header font-weight-bold bg-secondary text-white">
				<i class="fa-brands fa-discord fa-fw"></i> Discord LFG Roles Control
			</div>
			<div class="card-body overflow-auto">
				<div class="row justify-content-center">
					<button type="button" class="btn btn-primary btn-sm my-1" data-toggle="modal"
						data-target="#createDiscordLfgRolesModal">Create Discord LFG Roles</button>
				</div>
				<div class="row justify-content-center">
					<div class="row justify-content-center">
						<button type="button" class="btn btn-primary btn-sm my-1" data-toggle="modal" data-target="#removeDiscordLfgRolesModal">Remove Discord LFG Roles</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Roles card end -->
		<!-- Channel card -->
		<div class="card mt-4 border-secondary">
			<div class="card-header font-weight-bold bg-secondary text-white">
				<i class="fa-brands fa-discord fa-fw"></i> Clear Discord Channel
			</div>
			<form method="post" enctype="multipart/form-data">
				<div class="card-body overflow-auto">
					{% csrf_token %}
					{% for field in channel_form %}
					<p class="mb-0">
						{{ field | placeholder:"Channel ID" }}<br>
						<small class="form-text text-muted">
							{% for error in field.errors %}
							<p class="text-monospace font-weight-lighter text-danger mb-0">-{{ error }}</p>
							{% endfor %}
						</small>
					</p>
					{% endfor %}
				</div>
				<div class="card-footer">
					<button class="btn btn-primary btn-sm" type="submit">Submit</button>
				</div>
			</form>
		</div>
		<!-- Channel card end -->
	</div>
	<!-- Discord Control deck end -->

	<!-- Contest Stats Card deck -->
	<div class="card-deck">
		<!-- User Stats card -->
		<div class="card mt-4 border-secondary">
			<div class="card-header font-weight-bold bg-secondary text-white">
				<i class="fa-solid fa-user fa-fw"></i> Users
			</div>
			<div class="card-body overflow-auto">
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><span class="font-weight-bolder">Total:</span> {{ users_registered }}</li>
					<li class="list-group-item"><span class="font-weight-bolder">Verified:</span> {{ users_verified }}</li>
					<li class="list-group-item"><span class="font-weight-bolder">Checked-in:</span> {{ users_checkedin }}</li>
					<li class="list-group-item"><span class="font-weight-bolder">Added FSU num:</span> {{ added_fsu_num }}</li>
					<li class="list-group-item"><span class="font-weight-bolder">Added FSU ID:</span> {{ added_fsu_id }}</li>
					<li class="list-group-item"><span class="font-weight-bolder">Added Courses:</span> {{ added_courses }}</li>
				</ul>
			</div>
		</div>
		<!-- User Stats card end -->
		<!-- Team Stats card -->
		<div class="card mt-4 border-secondary">
			<div class="card-header font-weight-bold bg-secondary text-white">
				<i class="fa-solid fa-users fa-fw"></i> Teams
			</div>
			<div class="card-body overflow-auto">
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><span class="font-weight-bolder">Total:</span> {{ total_teams }}</li>
					<li class="list-group-item"><span class="font-weight-bolder">Registered Total:</span> {{ registered_teams }}</li>
					<li class="list-group-item"><span class="font-weight-bolder">Registered Active:</span> {{ active_teams }}</li>
					<li class="list-group-item"><span class="font-weight-bolder">Walk-ins Total:</span> {{ total_walkin }}</li>
					<li class="list-group-item"><span class="font-weight-bolder">Walk-ins Used:</span> {{ walkin_used }}</li>
					
				</ul>
			</div>
		</div>
		<!-- Team Stats card end -->		
	</div>
	<!-- Contest Stats Card deck end -->

	<!-- Division Stats Card deck -->
	<div class="card-deck">
		<!-- Upper Stats card -->
		<div class="card mt-4 border-secondary">
			<div class="card-header font-weight-bold bg-secondary text-white">
				<i class="fa-solid fa-users fa-fw"></i> Teams - Upper Division
			</div>
			<div class="card-body overflow-auto">
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><span class="font-weight-bolder">Registered Teams:</span> {{ num_upper_teams }}</li>
					<li class="list-group-item"><span class="font-weight-bolder">Registered Active:</span> {{ num_upper_active_teams }}</li>
					<li class="list-group-item"><span class="font-weight-bolder">Registered Participants:</span> {{ num_upper_reg_participants }}</li>
					<li class="list-group-item"><span class="font-weight-bolder">Registered Check-ins:</span> {{ num_upper_reg_checkedin_participants }}</li>
					<li class="list-group-item"><span class="font-weight-bolder">Walk-in Teams:</span> {{ num_upper_walkin_teams }}</li>
					<li class="list-group-item"><span class="font-weight-bolder">Walk-in Teams used:</span> {{ num_upper_walkin_used }}</li>
					<li class="list-group-item"><span class="font-weight-bolder">Walk-in Participants:</span> {{ num_upper_walkin_participants }}</li>
				</ul>
			</div>
		</div>
		<!-- Upper Stats card end -->
		<!-- Lower Stats card -->
		<div class="card mt-4 border-secondary">
			<div class="card-header font-weight-bold bg-secondary text-white">
				<i class="fa-solid fa-users fa-fw"></i> Teams - Lower Division
			</div>
			<div class="card-body overflow-auto">
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><span class="font-weight-bolder">Registered Teams:</span> {{ num_lower_teams }}</li>
					<li class="list-group-item"><span class="font-weight-bolder">Registered Active:</span> {{ num_lower_active_teams }}</li>
					<li class="list-group-item"><span class="font-weight-bolder">Registered Participants:</span> {{ num_lower_reg_participants }}</li>
					<li class="list-group-item"><span class="font-weight-bolder">Registered Check-ins:</span> {{ num_lower_reg_checkedin_participants }}</li>
					<li class="list-group-item"><span class="font-weight-bolder">Walk-in Teams:</span> {{ num_lower_walkin_teams }}</li>
					<li class="list-group-item"><span class="font-weight-bolder">Walk-in Teams used:</span> {{ num_lower_walkin_used }}</li>
					<li class="list-group-item"><span class="font-weight-bolder">Walk-in Participants:</span> {{ num_lower_walkin_participants }}</li>
				</ul>
			</div>
		</div>
		<!-- Lower Stats card end -->		
	</div>
	<!-- LFG Stats Card deck end -->

	<!-- Division Stats Card deck -->
	<div class="card-deck">
		<!-- Upper Stats card -->
		<div class="card mt-4 border-secondary">
			<div class="card-header font-weight-bold bg-secondary text-white">
				<i class="fa-solid fa-arrows-down-to-people fa-fw"></i> LFG Profiles - Overview
			</div>
			<div class="card-body overflow-auto">
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><span class="font-weight-bolder">Total:</span> {{ num_lfg_profiles }}</li>
					<li class="list-group-item"><span class="font-weight-bolder">Incomplete:</span> {{ num_lfg_profiles_incomplete }}</li>
					<li class="list-group-item"><span class="font-weight-bolder">Complete, Unverified:</span> {{ num_lfg_profiles_unverified }}</li>
					<li class="list-group-item"><span class="font-weight-bolder">Verified, Inactive:</span> {{ num_lfg_profiles_inactive }}</li>
					<li class="list-group-item"><span class="font-weight-bolder">Active:</span> {{ num_lfg_profiles_active }}</li>
				</ul>
			</div>
		</div>
		<!-- Upper Stats card end -->
		<!-- Lower Stats card -->
		<div class="card mt-4 border-secondary">
			<div class="card-header font-weight-bold bg-secondary text-white">
				<i class="fa-solid fa-arrows-down-to-people fa-fw"></i> LFG Profiles - Divisions
			</div>
			<div class="card-body overflow-auto">
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><span class="font-weight-bolder">Upper Total:</span> {{ num_upper_lfg_profiles }}</li>
					<li class="list-group-item"><span class="font-weight-bolder">Upper Active:</span> {{ num_upper_lfg_profiles_active }}</li>
					<li class="list-group-item"><span class="font-weight-bolder">Lower Total:</span> {{ num_lower_lfg_profiles }}</li>
					<li class="list-group-item"><span class="font-weight-bolder">Lower Active:</span> {{ num_lower_lfg_profiles_active }}</li>
				</ul>
			</div>
		</div>
		<!-- Lower Stats card end -->		
	</div>
	<!-- LFG Stats Card deck end -->

	<!-- Volunteer Summary card -->
	<div class="card mt-4 mb-3 border-secondary">
		<div class="card-header font-weight-bold bg-secondary text-white">
			<i class="fa-solid fa-handshake-simple fa-fw"></i> Volunteers
		</div>
		<div class="card-body overflow-auto">
			<div class="row justify-content-center">
				<div class="col-12">
					<div class="table-responsive">
						<table class="table table-sm">
							<thead class="thead-light">
								<tr>
									<th scope="col">Role</th>
									<th scope="col">Name</th>
									<th scope="col" class="text-center">Checked-in</th>
									<th scope="col" class="text-center">Added Courses</th>
									
								</tr>
							</thead>
							<tbody>
								{% for volunteer in volunteers %}
								<tr>
									<td>{{ roles | return_item:volunteer.role }}</td>
									
									<td>{{ volunteer.user.get_full_name }}</td>

									{% if volunteer.checked_in %}
										<td class="text-center">Yes</td>
									{% else %}
										<td class="text-center">No</td>
									{% endif %}

									{% if volunteer.has_courses %}
										<td class="text-center">Yes</td>
									{% else %}
										<td class="text-center">No</td>
									{% endif %}
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Volunteer Summary card end -->

	<!-- Course Summary card -->
	<div class="card mt-4 mb-3 border-secondary">
		<div class="card-header font-weight-bold bg-secondary text-white">
			<i class="fa-solid fa-list-ul fa-fw"></i> Courses
		</div>
		<div class="card-body overflow-auto">
			<div class="row justify-content-center">
				<div class="col-12">
					<div class="table-responsive">
						<table class="table table-sm">
							<thead class="thead-light">
								<tr>
									<th scope="col">Code</th>
									<th scope="col">Name</th>
									<th scope="col">Instructor</th>
									<th scope="col" class="text-center">Students</th>
								</tr>
							</thead>
							<tbody>
								{% for course in courses %}
								<tr>
									<td>{{ course.code }}</td>
									<td>{{ course.name }}</td>
									<td>{{ course.instructor.last_name }}</td>
									<td class="text-center">{{ course.num_registered }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Course Summary card end -->


	<!-- Generate DOMjudge TSVs Modal -->
	<div class="modal fade" id="generateDomjudgeTsvsModal" tabindex="-1" role="dialog"
		aria-labelledby="confirmClearModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="confirmClearModalLongTitle">Generate DOMjudge TSVs</h5>
				</div>
				<div class="modal-body">
					Are you certain you want to generate the TSVs?
				</div>
				<div class="modal-footer">
					<a class="btn btn-primary" href="{% url 'gen_dj_files' %}" role="button">Confirm</a>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- End Generate DOMjudge TSVs Modal -->


	<!-- Generate EC Reports Modal -->
	<div class="modal fade" id="generateEcReportsModal" tabindex="-1" role="dialog"
		aria-labelledby="confirmClearModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="confirmClearModalLongTitle">Generate Reports</h5>
				</div>
				<div class="modal-body">
					Are you certain you want to generate the extra credit reports?
				</div>
				<div class="modal-footer">
					<a class="btn btn-primary" href="{% url 'gen_ec_reports' %}" role="button">Confirm</a>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- End Generate EC Reports Modal -->


	<!-- Email Faculty Modal -->
	<div class="modal fade" id="emailFacultyModal" tabindex="-1" role="dialog"
		aria-labelledby="confirmClearModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="confirmClearModalLongTitle">Email Faculty</h5>
				</div>
				<div class="modal-body">
					Are you certain you want to email the faculty?
				</div>
				<div class="modal-footer">
					<a class="btn btn-primary" href="{% url 'email_faculty' %}" role="button">Confirm</a>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- End Email Faculty Modal -->


	<!-- Create Walk-in Teams Modal -->
	<div class="modal fade" id="walkinModal" tabindex="-1" role="dialog"
		aria-labelledby="confirmClearModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="confirmClearModalLongTitle">Create walk-in teams</h5>
				</div>
				<form method="post">
					{% csrf_token %}
					<div class="modal-body">
						{% for field in gen_walkin_form %}
						<p>
							<h5 class="mb-0">{{ field.label_tag }}</h5>
							{{ field }}<br>
							<small class="form-text text-muted">
								{% for error in field.errors %}
									<p class="text-monospace font-weight-lighter text-danger mb-0">-{{ error }}</p>
								{% endfor %}
								{% if field.help_text %}
									{{ field.help_text }}
								{% endif %}
							</small>
						</p>
					{% endfor %}
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" type="submit">Generate</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- End Create Walk-in Teams Modal -->


	<!-- Checkin/Checkout Users Modal -->
	<div class="modal fade" id="checkinModal" tabindex="-1" role="dialog" aria-labelledby="confirmClearModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="confirmClearModalLongTitle">Check in/out Users</h5>
				</div>
				<form method="post">
					{% csrf_token %}
					<div class="modal-body">
						{% for field in checkin_form %}
						<p>
						{{ field }}<br>
						<small class="form-text text-muted">
							{% for error in field.errors %}
							<p class="text-monospace font-weight-lighter text-danger mb-0">-{{ error }}</p>
							{% endfor %}
							{% if field.help_text %}
							{{ field.help_text }}
							{% endif %}
						</small>
						</p>
						{% endfor %}
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" type="submit">Process</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- End Create Walk-in Teams Modal -->


	<!-- Create Discord Roles Confirm Modal -->
	<div class="modal fade" id="createDiscordLfgRolesModal" tabindex="-1" role="dialog"
		aria-labelledby="confirmClearModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="confirmClearModalLongTitle">Create Discord LFG Roles</h5>
				</div>
				<div class="modal-body">
					Are you certain you want to create the roles?
				</div>
				<div class="modal-footer">
					<a class="btn btn-primary" href="{% url 'create_discord_roles' %}" role="button">Confirm</a>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- End Create Discord Roles Confirm Modal -->


	<!-- Remove Discord Roles Confirm Modal -->
	<div class="modal fade" id="removeDiscordLfgRolesModal" tabindex="-1" role="dialog"
		aria-labelledby="confirmClearModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="confirmClearModalLongTitle">Remove Discord LFG Roles</h5>
				</div>
				<div class="modal-body">
					Are you certain you want to remove the roles?
				</div>
				<div class="modal-footer">
					<a class="btn btn-primary" href="{% url 'remove_discord_roles' %}" role="button">Confirm</a>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- End Remove Discord Roles Confirm Modal -->
	
{% endblock %}
