{% autoescape off %}
Hello {{ faculty.first_name }},

Thank you for offering extra credit in your course(s) for Programming Contest participation. The documents containing participation information for your students are available, and can be accessed via the link below. If you have any issues accessing the files, or have questions regarding the information contained therein, please do not hesitate to contact us.

https://{{ domain }}{% url 'fac_ec_dashboard' uidb64=uid %}

Cheers,
The Programming Contest Team
contest@fsu.acm.org

*** This message was sent from an unmonitored address. Please contact us at the address in our signature. ***
{% endautoescape %}
