{% extends 'core/base.html' %}
{% load static %}

{% block title %}Faculty Dashboard{% endblock %}

{% block content %}
	<div class="row justify-content-center">
		<h1>Faculty Dashboard</h1>
	</div>	
	<div class="row justify-content-center mt-4">
		<div class="col-8">
			<div class="card">
				<div class="card-header lead">
					Hello {{ first_name }} {{ last_name }}
				</div>
				<div class="card-body">
				<p class="card-text">The zip file linked below contains CSVs with participant information for each of the courses you registered with the contest. Each row in a CSV file contains the following fields: fsu_id, last_name, first_name, questions_answered, role. Each field is separated by a single comma without whitespace, and each row is delimited by a newline. The role field will have one of the following values: contestant, proctor, question writer, organizer. You will only receive reports for classes where at least one student checked-in to the contest. </p>
				<a href="{% url 'fac_ec_files_dl' uidb64=uid  %}" class="btn btn-primary"><i class="fa fa-download mx-1" aria-hidden="true"></i>Download</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}