{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/login.css' %}"/>
{% endblock %}

{% block section %}Login{% endblock %}

{% block content %}
	<h1 class="text-center">Login</h1>

	{% if form.errors %}
		{% for error in form.errors %}
			<div class="alert alert-danger alert-dismissible fade show mt-3">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>ERROR</strong> Please enter a correct username and password. Note that both fields are case-sensitive and <strong>your account must be activated</strong>.
			</div>
		{% endfor %}
	{% endif %}

	<!-- Messages -->
	{% include 'core/messages.html' %}
	<!-- End Messages -->


	{% if user.is_authenticated %}
		<div class="alert alert-info alert-dismissible fade show mt-3">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>INFO</strong> You have already logged in.
		</div>
	{% else %}
		<div class="row mt-3 justify-content-center">
			<div class="col-sm-4">
				<div class="card border-secondary">
					<div class="card-body">
						<form class="w-100" method="post" action="{% url 'login' %}">
							{% csrf_token %}
							<div class="form-group">
								{{ form.username | placeholder:"Username" }}
							</div>
							<div class="form-group">
								{{ form.password | placeholder:"Password" }}
							</div>
							
							<input class="btn btn-primary btn-sm mt-1"type="submit" value="login" />
							<input type="hidden" name="next" value="{{ next }}" />
						</form>
					</div>
					<div class="card-footer">
						<small><a class="text-danger" href="{% url 'password_reset' %}">Lost password?</a></small>
						&bull;
						<small><a class="text-info" href="{% url 'recover_username' %}">Forgot username?</a></small>
					</div>
				</div>
				
								
			</div>
		</div>

	{% endif %}
{% endblock %}