{% extends 'core/base.html' %}
{% load static %}
{% load placeholder %}

{% block section %}Password reset{% endblock %}

{% block content %}
<h1 class="text-center">Forgot Password</h1>
<div class="row mt-3 justify-content-center">
	<div class="col-sm-3">
		<form class="w-100" action="" method="post">
			{% csrf_token %}
			{% if form.email.errors %}
			{{ form.email.errors }}
			{% endif %}
			<table>
				<tr>
					<td>{{ form.email | placeholder:"Enter your registered email" }}</td>
				</tr>
			</table>
			<!--<p>{{ form.email }}</p>-->
			<input type="submit" class="btn btn-primary btn-sm mt-2" value="Reset password">
		</form>
	</div>
</div>
{% endblock %}
