{% extends 'core/base.html' %}
{% load cache %}
{% load static %}

{% block head %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block section %}Announcements{% endblock %}

{% block content %}
<h1 class="text-center">Contest Announcements</h1>

<div class="row justify-content-center">
    <div class="col-md-9 col-lg-8 mt-3">
        <a href="{% url 'announcements_feed' %}" class="btn text-white" title="Announcements RSS feed"
            style="background-color: #f3a871;"><i class="fa fa-rss fa-sm fa-fw"></i> Subscribe</a>
    </div>
</div>
{% if is_paginated %}
    {% cache CACHE_TIMEOUT announcements page_obj.number %}
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-8 mt-3">
                {% for announcement in object_list %}
                    <div class="card mb-4 shadow">
                        <div class="card-body">
                            <h3 class="card-title mb-0">{{ announcement.title }}</h3>
                            <small class="card-text text-muted">{{ announcement.author.first_name }} | {{ announcement.created_on}} </small>
                            {% if announcement.created_on < announcement.updated_on %}
                                <br>
                                <small class="card-text text-muted">Updated on: {{ announcement.updated_on}} </small>
                            {% endif %}
                            {% if announcement.content|length > 140 %}
                                <p class="card-text lead mt-2">{{ announcement.content|slice:":140" }}...</p>
                                <a href="{% url 'announcement_detail' announcement.slug  %}" class="btn btn-primary btn-sm">Read More</a>
                            {% else %}
                                <p class="card-text lead mt-2">{{ announcement.content }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% empty %}
                    <div class="card shadow">
                        <div class="card-body">
                            <p class="lead">No announcements have been posted.</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        
        <nav aria-label="Page navigation conatiner">
            <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="btn btn-sm btn-primary">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="btn btn-sm btn-primary"> NEXT &raquo;</a></li>

            {% endif %}
            </ul>
        </nav>
        
    {% endcache %}
{% else %}
    {% cache CACHE_TIMEOUT announcements %}
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-8 mt-3">
                {% for announcement in object_list %}
                    <div class="card mb-4 shadow">
                        <div class="card-body">
                            <h3 class="card-title mb-0">{{ announcement.title }}</h3>
                            <small class="card-text text-muted">{{ announcement.author.first_name }} | {{ announcement.created_on}} </small>
                            {% if announcement.created_on < announcement.updated_on %}
                                <br>
                                <small class="card-text text-muted">Updated on: {{ announcement.updated_on}} </small>
                            {% endif %}
                            {% if announcement.content|length > 140 %}
                                <p class="card-text lead mt-2">{{ announcement.content|slice:":140" }}...</p>
                                <a href="{% url 'announcement_detail' announcement.slug  %}" class="btn btn-primary btn-sm">Read More</a>
                            {% else %}
                                <p class="card-text lead mt-2">{{ announcement.content }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% empty %}
                    <div class="card shadow">
                        <div class="card-body">
                            <p class="lead text-center">No announcements have been posted.</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endcache %}
{% endif %}
    
{% endblock %}
