{% extends 'core/base.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}

<div class="row justify-content-center">
	<h1>About ACM's Programming Contest</h1>
</div>
<div class="container pt-3 my-3 border">
    The ACM Programming Contest is a coding competition that
    emphasizes problem solving executed in code.
    Students, faculty, and staff from all majors and colleges are welcome.
    The problems are ICPC style coding questions which are similar to
    questions asked by recruiters during technical interviews.
    <br>
    <br>
    The competition lasts 5 hours, and teams are limited to 3 members.
    The top teams from each division receive prizes,
    which have previously included things like Google Home Minis,
    Amazon Echoes, Raspberry Pi's, Chromecasts, and ACM chapter t-shirts.
</div>

{% endblock %}
