{% load cache %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Marlan McInnes-Taylor">
    <!-------------------------------------------------------------->

    <!-- Page Description -->
    {% block description %}
    <meta name="description" content="ACM at FSU Programming Contest Registration & Management">
    {% endblock %}
    <!-------------------------------------------------------------->

    <!-- Keywords -->
    <meta name="keywords"
      content="ACM ICPC, ACM Programming Contest, FSU ICPC, FSU ACM ICPC, FSU Programming Contest, FSU ACM Programming Contest, FSU CS Programming Contest, Florida State ICPC, Florida State Programming Contest, Florida State CS Programming Contest, Florida State ACM Programming Contest, Florida State University Programming Contest, Florida State University ACM Programming Contest, Florida State University ICPC, Florida State University CS Programming Contest">
    <!-------------------------------------------------------------->

    <!-- Bootstrap 4.5.3 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-------------------------------------------------------------->

    <!-- Font Awesome 6.2.0 -->
    <link rel="stylesheet" href="{% static 'core/fontawesome/css/fontawesome.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'core/fontawesome/css/brands.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'core/fontawesome/css/solid.min.css' %}" type="text/css" />
    <!-------------------------------------------------------------->

    <!-- Fonts -->
    <link rel="stylesheet" 
          href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <!-------------------------------------------------------------->

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/img/favicon.ico' %}" />
    <!-------------------------------------------------------------->

    <!-- Base styling -->
    <link rel="stylesheet" type="text/css"
          href="{% static 'core/css/base.css' %}"/>
    <!-------------------------------------------------------------->

    <!-- Page Specific Includes -->
    {% block head %}{% endblock %}
    <!-------------------------------------------------------------->

    {# Strict order: jQuery first, then Popper.js, then Bootstrap JS. NOTE: bootstrap.bundle includes Popper #}
    <!-- Bootstrap 4.5.3 JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <!-------------------------------------------------------------->
    
    {% if not DEBUG %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-R68Q4E2KTL"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'G-R68Q4E2KTL');
    </script>
    <!-------------------------------------------------------------->
    {% endif %}

    {% block title %}
    <title>{% block section %}{% endblock %} | ACM at FSU Programming Contest</title>
    {% endblock %}
  </head>
  
  <body>
    <!-- header -->
    <header>
      <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class = "navbar-brand p-0" href="{% url 'index' %}"><img src="{% static 'core/img/acm_fsu_diamond.png' %}" width="45" height="45" alt="Chapter Logo"></a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'announcements' %}">Announcements</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'teams' %}">Teams</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'faq' %}">FAQ</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Resources
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="https://domjudge.cs.fsu.edu" target="_blank" rel="external"><i class="fa-solid fa-server"></i> Contest Server</a>
                <a class="dropdown-item" href="https://drive.google.com/drive/folders/1pjZk22HGTOjvedz932kHox6-rTz5JqoE?usp=sharing"
                  target="_blank" rel="external"><i class="fa-solid fa-file-circle-question"></i> Example Questions</a>
                <a class="dropdown-item" href="https://drive.google.com/drive/folders/1uCylEYyFdXdxD_BxplYZIioW6_ragXTq?usp=sharing"
                  target="_blank" rel="external"><i class="fa-solid fa-book"></i> Registration Guide</a>
                <a class="dropdown-item" href="https://bit.ly/JoinProgClub" target="_blank" rel="external"><i class="fa-solid fa-people-group"></i> Programming Club</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            {% cache 300 navbar request.user.username %}
            {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active d-none d-md-block" href="#" id="navbardrop" data-toggle="dropdown"><i class="fa-regular fa-circle-user"></i></a>
                <a class="nav-link dropdown-toggle active d-block d-md-none" href="#" id="navbardrop" data-toggle="dropdown"><i class="fa-regular fa-circle-user"></i> {{ user.first_name }}</a>
                <div class="dropdown-menu dropdown-menu-right">
                  {% if user.is_staff %}
                    <a class="dropdown-item" href="{% url 'admin:index' %}"><i class="fa-solid fa-users-gear"></i> Django Admin</a>
                  {% endif %}
                  {% if user.profile.is_volunteer %}
                    {% if user.profile.role == 5 %}
                      <a class="dropdown-item" href="{% url 'admin_dashboard' %}"><i class="fa-regular fa-chart-bar"></i> Contest Dashboard</a>
                      <a class="dropdown-item" href="https://contest.cs.fsu.edu/flower/" target="_blank"><i class="fa-solid fa-diagram-project"></i> Flower Dashboard</a>
                      <hr>
                    {% endif %}
                    <a class="dropdown-item" href="{% url 'checkin' %}"><i class="fa-solid fa-door-open"></i> Contest Check-in</a>
                    <a class="dropdown-item" href="{% url 'volunteer_checkin' %}"><i class="fa-solid fa-handshake-simple"></i> Volunteer Check-in</a>
                    <hr>
                  {% endif %}
                  <a class="dropdown-item" href="{% url 'manage_dashboard' %}"><i class="fa-solid fa-user-gear"></i> Account</a>
                  <a class="dropdown-item" href="{% url 'lfg_dashboard' %}"><i class="fa-solid fa-arrows-down-to-people"></i> Looking For Group</a>
                  <hr>
                  <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                </div>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link btn btn-sm btn-secondary text-white m-1" href="{% url 'login' %}"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-sm btn-warning text-dark m-1" href="{% url 'register_base' %}"><i class="fa-solid fa-user-plus"></i> Register</a>
              </li>
            {% endif %}
            {% endcache %}
          </ul>
        </div>
      </nav>
    </header>
    <!-- end of header -->
    
    <!-- content -->
    <div class="container my-3">
      <main>
        {% block content %}
        {% endblock %}
      </main>
    </div>
    <!-- end of content -->
    
    <!-- footer -->
    <footer style="background-color: #2c292f">
      <div class="container mt-5">
        <div class="row ">
          <div class="col-md-4 text-center text-md-left ">
    
            <div class="py-0">
              <h3 class="my-4 text-white"><a class="mx-2 font-italic text-primary" href="https://fsu.acm.org" title="ACM at FSU Homepage" target="_blank" rel="external noopener">ACM at FSU</a></h3>
              <p class="footer-links">
                <a href="mailto:contest@fsu.acm.org" title="ACM at FSU Email" class="text-warning"><i class="fa fa-envelope text-white mx-2"></i>contest@fsu.acm.org</a>
              </p>
              <div class="mx-auto pt-2">
                <a href="https://www.facebook.com/ACMatFSU/" title="ACM at FSU Facebook" target="_blank" rel="external noopener"><i class="fab fa-facebook fa-lg text-white mr-3"></i></a>
                <a href="https://discord.gg/4z3hNMA" title="ACM at FSU Discord" target="_blank" rel="external noopener"><i class="fab fa-discord fa-lg text-white mx-3"></i></a>
                <a href="https://www.instagram.com/fsuacm/" title="ACM at FSU Instagram" target="_blank" rel="external noopener"><i
                    class="fab fa-instagram fa-lg text-white mx-3"></i></a>
                <a href="https://www.linkedin.com/groups/12238485/" title="ACM at FSU LinkedIn" target="_blank" rel="external noopener"><i class="fab fa-linkedin fa-lg text-white mx-3"></i></a>
              </div>              
            </div>
          </div>
    
          <div class="col-md-4 text-white text-center text-md-left ">
            <div class="pt-2 mt-4">
              <div>
                <a href="https://goo.gl/maps/AQz5K65kyfjjjQJb7" title="Google Maps - Love Building" class="text-white" target="_blank" rel="external nofollow noopener"><i class="fa-solid fa-map-location-dot"></i>
                  James J. Love Building,
                  1017 Academic Way,
                  Tallahassee, FL 32304</a>
              </div>
              <div class="my-2">
                <a class="text-white" href="https://www.cs.fsu.edu" title="FSU CS Department Homepage" target="_blank" rel="external noopener"><i class="fa-solid fa-up-right-from-square"></i> FSU Dept of Computer Science</a>
              </div>
              <div class="mt-2 pt-1">
                <a class="text-white" href="https://icpc.global/" title="ICPC Global Homepage" target="_blank" rel="external noopener"><i class="fa-solid fa-up-right-from-square"></i> ICPC Global</a>
              </div>              
            </div>
          </div>
    
          <div class="col-md-4 text-white my-4 text-center text-md-left ">
            <span class=" font-weight-bold">About the Contest</span>
            <p class="text-info my-2">The ACM at FSU Programming Contest is a coding competition that emphasizes problem solving executed in code.</p>
            <a class="text-white" href="https://www.mmcinnestaylor.com" title="Marlan's Homepage" target="_blank" rel="external noopener">Built with &hearts; by Marlan Mc-T</a>
          </div>
        </div>
      </div>
    </footer>
    <!-- end of footer -->
  </body>
  <!-- Hello Lillian -->
</html>
