{% extends 'core/base.html' %}
{% load static %}

{% block section %}Contact Us{% endblock %}

{% block content %}

<h1 class="text-center">Contact Us</h1>

<div class="row mt-3">
    <div class="card-deck mx-3">
        <div class="card shadow border-secondary">
            <div class="card-header border-0 text-center bg-secondary text-white">
                <h2>Email</h2>
                <i class="fas fa-envelope fa-8x p-0 m-0"></i>
            </div>
          <div class="card-body border-0">
            <p class="card-text">Feel free to email our contest staff with any Programming Contest related inquiries.</p>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary" href="mailto:contest@fsu.acm.org" role="button" rel="external">Message Us</a>
          </div>
        </div>
        <div class="card shadow border-secondary">
            <div class="card-header border-0 text-center bg-secondary text-white">
                <h2>Discord</h2>
                <i class="fab fa-discord fa-8x p-0 m-0"></i>
            </div>
          <div class="card-body border-0">
            <p class="card-text">Join our Discord server to interact with chapter members and officers.</p>
          </div>
          <div class="card-footer">
            <a href="https://discord.gg/4z3hNMA" class="btn btn-primary" target="_blank" role="button" rel="external">Join</a>
          </div>
        </div>
        <div class="card shadow border-secondary">
            <div class="card-header border-0 text-center bg-secondary text-white">
                <h2>Chapter Website</h2>
                <i class="fas fa-globe fa-8x p-0 m-0"></i>
            </div>
          <div class="card-body border-0">
            <p class="card-text">Check out our chapter website for additional information regarding our organization and activities.</p>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary" href="https://fsu.acm.org" target="_blank" role="button" rel="external">Visit</a>
          </div>
        </div>
    </div>
</div>

{% endblock %}