{% extends 'core/base.html' %}
{% load static %}

{% block section %}FAQ{% endblock %}

{% block content %}

<h1 class="text-center">Frequently Asked Questions</h1>

<!-- CONTEST -->
<h3 class="mt-3" id="contest">Contest</h3>
<div class="accordion mt-3" id="accordionContest">
  <!-- First Question-->
  <div class="card">
    <div class="card-header" id="headingOneContest">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-dark" type="button" data-toggle="collapse"
          data-target="#collapseOneContest" aria-expanded="false" aria-controls="collapseOneContest">
          <h5 class="mb-0">How does the contest work?</h5>
        </button>
      </h2>
    </div>
  
    <div id="collapseOneContest" class="collapse show" aria-labelledby="headingOneContest" data-parent="#accordionContest">
      <div class="card-body">
        <p>
          The contest is a series of challenging coding questions that require critical thinking and coding know-how. Each
          question has a prompt consisting of flavor text and a description of the challenge. You'll get the some constraints on
          the input, as well as some sample input and corresponding output.
        </p>
        <p>
          From there, your team will need to work together to write code that will produce the correct output for any input we
          could provide you. Responses are scored on how quickly you solved the problem relative to the start of the contest with points
          deducted for each incorrect submission.
        </p>
      </div>
    </div>
  </div>
  <!-- Second Question-->
  <div class="card">
    <div class="card-header" id="headingTwoContest">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-dark collapsed" type="button" data-toggle="collapse"
          data-target="#collapseTwoContest" aria-expanded="false" aria-controls="collapseTwoContest">
          <h5 class="mb-0">In which division may I compete?</h5>
        </button>
      </h2>
    </div>
    <div id="collapseTwoContest" class="collapse" aria-labelledby="headingTwoContest" data-parent="#accordionContest">
      <div class="card-body">
        <h6>Lower Division</h6>
        Easier questions better suited for beginner programmers.
        <ul>
          <li>
            FSU students who are enrolled in CDA3100, COP3014, COP3363, COP3330.
          </li>
          <li>
            Individuals with only an introductory programming background. 
          </li>
        </ul>
        <h6>Upper Division</h6>
        More difficult questions appropriate for experienced programmers.
        <ul>
          <li>
            FSU students who have taken a CS course beyond those listed above (typically Junior and Senior CS undergrads).
          </li>
          <li>
            Graduate CS students, CS Faculty, and experienced programmers
          </li>
        </ul>
        Those who qualify to register for the Lower Division are still welcome to register for the
        Upper Division.
      </div>
    </div>
  </div>
  <!-- Third Question-->
  <div class="card">
    <div class="card-header" id="headingThreeContest">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-dark collapsed" type="button" data-toggle="collapse"
          data-target="#collapseThreeContest" aria-expanded="false" aria-controls="collapseThreeContest">
          <h5 class="mb-0">Who may participate?</h5>
        </button>
      </h2>
    </div>
    <div id="collapseThreeContest" class="collapse" aria-labelledby="headingThreeContest" data-parent="#accordionContest">
      <div class="card-body">
        Everyone is welcome! Most of our contestants are FSU students and teachers, but anyone with a valid email address may register and participate.
      </div>
    </div>
  </div>
  <!-- Fourth Question-->
  <div class="card">
    <div class="card-header" id="headingFourContest">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-dark collapsed" type="button" data-toggle="collapse"
          data-target="#collapseFourContest" aria-expanded="false" aria-controls="collapsFourContesteFourContest">
          <h5 class="mb-0">How much experience do I need?</h5>
        </button>
      </h2>
    </div>
    <div id="collapseFourContest" class="collapse" aria-labelledby="headingFourContest" data-parent="#accordionContest">
      <div class="card-body">
        We recommend at least some early programming experience. You'll have access to official language documentation, but that's it. No Google, no StackOverflow.
      </div>
    </div>
  </div>
  <!-- Fifth Question-->
  <div class="card">
    <div class="card-header" id="headingFiveContest">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-dark collapsed" type="button" data-toggle="collapse"
          data-target="#collapseFiveContest" aria-expanded="false" aria-controls="collapseFiveContest">
          <h5 class="mb-0">What do I need to bring?</h5>
        </button>
      </h2>
    </div>
    <div id="collapseFiveContest" class="collapse" aria-labelledby="headingFiveContest" data-parent="#accordionContest">
      <div class="card-body">
        A laptop and your charger for sure. We recommend
        some pens or pencils and paper to jot down your thoughts as you work
        to solve the questions.
      </div>
    </div>
  </div>
  <!-- Sixth Question-->
  <div class="card">
    <div class="card-header" id="headingSixContest">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-dark collapsed" type="button" data-toggle="collapse"
          data-target="#collapseSixContest" aria-expanded="false" aria-controls="collapseSixContest">
          <h5 class="mb-0">Where is the contest held?</h5>
        </button>
      </h2>
    </div>
    <div id="collapseSixContest" class="collapse" aria-labelledby="headingSixContest" data-parent="#accordionContest">
      <div class="card-body">
        In person contests are held in the <a href="https://www.facilities.fsu.edu/space/buildings/profile.php?bldg=0116"
          target="_blank" rel="external">Love Building (LOV)</a> at FSU. The building's address can be found in this site's
        footer.
      </div>
    </div>
  </div>
  <!-- Seventh Question-->
  <div class="card">
    <div class="card-header" id="headingSevenContest">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-dark collapsed" type="button" data-toggle="collapse"
          data-target="#collapseSevenContest" aria-expanded="false" aria-controls="collapseSevenContest">
          <h5 class="mb-0">How do I check in on contest day?</h5>
        </button>
      </h2>
    </div>
    <div id="collapseSevenContest" class="collapse" aria-labelledby="headingSevenContest" data-parent="#accordionContest">
      <div class="card-body">
        <h6>In Person Contests</h6>
        <p>
          The contest staff will direct you to a check in station once doors open on contest day. Follow
          the on screen prompts at the check in station to complete the process.
        </p>
        <p>
          You will have the option of swiping your FSUCard or entering your registered email at check in. In order to use your FSUCard, you must complete the FSU number section of
          your profile in the Account Dashboard.
        </p>
        <h6>Virtual Contests</h6>
        <p>
          Check in is handled automatically by the contest staff. 
        </p>
      </div>
    </div>
  </div>
  <!-- Eighth Question-->
  <div class="card">
    <div class="card-header" id="headingEightContest">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-dark collapsed" type="button" data-toggle="collapse"
          data-target="#collapseEightContest" aria-expanded="false" aria-controls="collapseEightContest">
          <h5 class="mb-0">May a team use multiple computers or I/O devices?</h5>
        </button>
      </h2>
    </div>
    <div id="collapseEightContest" class="collapse" aria-labelledby="headingEightContest" data-parent="#accordionContest">
      <div class="card-body">
        No, team members must share a single computer, keyboard, mouse/touchpad, and display.
      </div>
    </div>
  </div>
</div>

<!-- DOMJUDGE-->
<h3 class="mt-3" id="domjudge">DOMjudge</h3>
<div class="accordion mt-3" id="accordionDJ">
  <!-- First Question-->
  <div class="card">
    <div class="card-header" id="headingOneDJ">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-dark collapsed" type="button" data-toggle="collapse"
          data-target="#collapseOneDJ" aria-expanded="false" aria-controls="collapseOneDJ">
          <h5 class="mb-0">What is DOMjudge?</h5>
        </button>
      </h2>
    </div>
    <div id="collapseOneDJ" class="collapse" aria-labelledby="headingOneDJ" data-parent="#accordionDJ">
      <div class="card-body">
        DOMjudge is an automated judge system to run programming contests. It has a mechanism to submit problem
        solutions,
        have
        them judged fully automatically and provides (web)interfaces for teams, the jury and the general public.
      </div>
    </div>
  </div>
  <!-- Second Question-->
  <div class="card">
    <div class="card-header" id="headingTwoDJ">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-dark collapsed" type="button" data-toggle="collapse"
          data-target="#collapseTwoDJ" aria-expanded="false" aria-controls="collapseTwoDJ">
          <h5 class="mb-0">How does scoring work?</h5>
        </button>
      </h2>
    </div>
    <div id="collapseTwoDJ" class="collapse" aria-labelledby="headingTwoDJ" data-parent="#accordionDJ">
      <div class="card-body">
        <p>
          Teams are ranked by the number of questions they have solved. If multiple teams have answered the same
          number
          of questions, then they are ranked by a point system based on least total time to submit a correct solution
          for the questions, as well as fewest attempts to get the correct solution.
        </p>
        <p>
          You receive points when you successfully solve a problem, and the amount of points is based on how many
          minutes since the contest has started. For every incorrect solution you submit, you receive a penalty of 20
          minutes to your final score for that problem. You may submit as many times as you like, but EACH incorrect
          solution will add additional time penalties. For example, if you submit a correct solution to a problem 10
          minutes after the contest has started, but submitted an incorrect solution beforehand, then your final score
          will be 30.
        </p>
        <p>
          Teams who answer the same number of questions will be ranked on the lowest score, since it is based on time
          since the contest has started + time penalties per questions. This also means that you could have a "lower"
          score than another team who is ranked higher, however they solved more questions than your team, thus
          putting
          them ahead.
        </p>
      </div>
    </div>
  </div>
  <!-- Third Question-->
  <div class="card">
    <div class="card-header" id="headingThreeDJ">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-dark collapsed" type="button" data-toggle="collapse"
          data-target="#collapseThreeDJ" aria-expanded="false" aria-controls="collapseThreeDJ">
          <h5 class="mb-0">Which programming languages are supported?</h5>
        </button>
      </h2>
    </div>
    <div id="collapseThreeDJ" class="collapse" aria-labelledby="headingThreeDJ" data-parent="#accordionDJ">
      <div class="card-body">
        We allow solutions in C, C++, C#, Java, and Python 3.
      </div>
    </div>
  </div>
  <!-- Fourth Question-->
  <div class="card">
    <div class="card-header" id="headingFourDJ">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-dark collapsed" type="button" data-toggle="collapse"
          data-target="#collapseFourDJ" aria-expanded="false" aria-controls="collapseFourDJ">
          <h5 class="mb-0">How do I obtain my DOMjudge credentials?</h5>
        </button>
      </h2>
    </div>
    <div id="collapseFourDJ" class="collapse" aria-labelledby="headingFourDJ" data-parent="#accordionDJ">
      <div class="card-body">
        Upon successful check in on contest day you will receive an email with your DOMjudge credentials. You may also view the
        credentials in the Team section of your Account Dashboard after checking in.
      </div>
    </div>
  </div>
  <!-- Fifth Question-->
  <div class="card">
    <div class="card-header" id="headingFiveDJ">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-dark collapsed" type="button" data-toggle="collapse"
          data-target="#collapseFiveDJ" aria-expanded="false" aria-controls="collapseFiveDJ">
          <h5 class="mb-0">How do I access DOMjudge?</h5>
        </button>
      </h2>
    </div>
    <div id="collapseFiveDJ" class="collapse" aria-labelledby="headingFiveDJ" data-parent="#accordionDJ">
      <div class="card-body">
        You can access the server by clicking on the 'Contest Server' link in the 'Resources' dropdown menu which is located in
        the top navigation bar above. Once the page loads, locate the 'Login' button in the top navigation bar, and enter the
        credentials you received upon check in.
      </div>
    </div>
  </div>
</div>

<!-- REGISTRATION -->
<h3 class="mt-3" id="registration">Registration</h3>
<div class="accordion mt-3" id="accordionRegister">
  <!-- First Question-->
  <div class="card">
    <div class="card-header" id="headingOneRegister">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-dark collapsed" type="button" data-toggle="collapse"
          data-target="#collapseOneRegister" aria-expanded="false" aria-controls="collapseOneRegister">
          <h5 class="mb-0">How do I register and participate?</h5>
        </button>
      </h2>
    </div>
    <div id="collapseOneRegister" class="collapse" aria-labelledby="headingOneRegister" data-parent="#accordionRegister">
      <div class="card-body">
        In order to participate in the contest you must complete two steps:
        <ul class="mb-0">
          <li>Create an account</li>
          <li>Join or create a team (solo teams are allowed)</li>
        </ul>
        Check out the Account and Teams sections of this FAQ for more information.
      </div>
    </div>
  </div>
  <!-- Second Question-->
  <div class="card">
    <div class="card-header" id="headingTwoRegister">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-dark collapsed" type="button" data-toggle="collapse"
          data-target="#collapseTwoRegister" aria-expanded="false" aria-controls="collapseTwoRegister">
          <h5 class="mb-0">Is there a registration or participation fee?</h5>
        </button>
      </h2>
    </div>
    <div id="collapseTwoRegister" class="collapse" aria-labelledby="headingTwoRegister" data-parent="#accordionRegister">
      <div class="card-body">
        Nope! The contest is entirely free of charge to all participants.
      </div>
    </div>
  </div>
  <!-- Third Question-->
  <div class="card">
    <div class="card-header" id="headingThreeRegister">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-dark collapsed" type="button" data-toggle="collapse"
          data-target="#collapseThreeRegister" aria-expanded="false" aria-controls="collapseThreeRegister">
          <h5 class="mb-0">Is there a registration deadline?</h5>
        </button>
      </h2>
    </div>
    <div id="collapseThreeRegister" class="collapse" aria-labelledby="headingThreeRegister" data-parent="#accordionRegister">
      <div class="card-body">
        Yes, there is a team registration deadline which appears on the homepage once it is set by the contest organizers. This
        deadline specifies the cut off for creating a contest team. Please refer to the <em>I missed the registration deadline,
        can I still compete?</em> question below for additional information.
      </div>
    </div>
  </div>
  <!-- Fourth Question-->
  <div class="card">
    <div class="card-header" id="headingFourRegister">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-dark collapsed" type="button" data-toggle="collapse"
          data-target="#collapseFourRegister" aria-expanded="false" aria-controls="collapseFourRegister">
          <h5 class="mb-0">I missed the registration deadline, can I still compete?</h5>
        </button>
      </h2>
    </div>
    <div id="collapseFourRegister" class="collapse" aria-labelledby="headingFourRegister" data-parent="#accordionRegister">
      <div class="card-body">
        <p>Yes! You may do either of the following:</p>
        <h6>Join an existing (registered) team</h6>
        <p>
          You may join an already registered team even after the deadline and up until checking in to the contest. Simply follow
          the procedure in 'How do I join an existing team?'.
        </p>
        <h6>Join a walk-in team</h6>
        <p>
          We provide a limited number of walk-in teams for both divisions which are available on contest day on a first come first served basis.
        </p>
        <ul>
          <li>
            You can be assigned a walk-in team by selecting 'No' at the registered teams prompt during check in. 
          </li>
          <li>
            If multiple people want to join the same walk-in team, one person must first check in and select 'No' at the registered
            teams prompt. After they are added to a walk-in team, they must then share the team's PIN, located in the Account
            Dashboard, with their group. The remaining individuals should follow the procedure outlined in 'How do I join an
            existing team?' before checking in.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- ACCOUNT -->
<h3 class="mt-3" id="account">Account</h3>
<div class="accordion mt-3" id="accordionAccount">
  <!-- First Question-->
  <div class="card">
    <div class="card-header" id="headingOneAccount">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-dark collapsed" type="button" data-toggle="collapse"
          data-target="#collapseOneAccount" aria-expanded="false" aria-controls="collapseOneAccount">
          <h5 class="mb-0">How do I create an account?</h5>
        </button>
      </h2>
    </div>
    <div id="collapseOneAccount" class="collapse" aria-labelledby="headingOneAccount" data-parent="#accordionAccount">
      <div class="card-body">
        Click the <a href="{% url 'register_base' %}">Register</a> link in the top navigation bar. Once created, you will need to activate you account by following the
        instructions in the activation email sent to the address you provided.
      </div>
    </div>
  </div>
  <!-- Second Question-->
  <div class="card">
    <div class="card-header" id="headingTwoAccount">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-dark collapsed" type="button" data-toggle="collapse"
          data-target="#collapseTwoAccount" aria-expanded="false" aria-controls="collapseTwoAccount">
          <h5 class="mb-0">I didn't receive an account activation email, what now?</h5>
        </button>
      </h2>
    </div>
    <div id="collapseTwoAccount" class="collapse" aria-labelledby="headingTwoAccount" data-parent="#accordionAccount">
      <div class="card-body">
        If an account activation email does not show up in your inbox or spam/junk email folder within a few minutes of creating
        your account, then reach out to the contest staff. Contact information is available <a
          href="{% url 'contact' %}">here</a>.
      </div>
    </div>
  </div>
  <!-- Third Question-->
  <div class="card">
    <div class="card-header" id="headingThreeAccount">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-dark collapsed" type="button" data-toggle="collapse"
          data-target="#collapseThreeAccount" aria-expanded="false" aria-controls="collapseThreeAccount">
          <h5 class="mb-0">How do I sign up for extra credit?</h5>
        </button>
      </h2>
    </div>
    <div id="collapseThreeAccount" class="collapse" aria-labelledby="headingThreeAccount" data-parent="#accordionAccount">
      <div class="card-body">
        After creating your account and activating it, head over to your Account Dashboard. From there you first need to add
        your FSU ID to your profile by clicking 'Edit' in the Profile section. Then, locate the Courses section in your Account
        Dashboard, and click 'Add'. You will be presented with a list of courses which have been confirmed by the contest
        organizers. Click the selection box of any available course in which you are currently registered, and then click the
        'Select' button.
      </div>
    </div>
  </div>
  <!-- Fourth Question-->
  <div class="card">
    <div class="card-header" id="headingFourAccount">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-dark collapsed" type="button" data-toggle="collapse"
          data-target="#collapseFourAccount" aria-expanded="false" aria-controls="collapseFourAccount">
          <h5 class="mb-0">What if my course isn't available to select?</h5>
        </button>
      </h2>
    </div>
    <div id="collapseFourAccount" class="collapse" aria-labelledby="headingFourAccount" data-parent="#accordionAccount">
      <div class="card-body">
        Don't worry! We add courses only as we receive confirmation from the course instructor. If your course isn't
        listed, first confirm with your instructor that they are indeed offering extra credit for participation. If they
        are, and have sent our team a confirmation, then please be patient as our contest admin team is small! We will
        post annoucements as new courses are added.
      </div>
    </div>
  </div>
</div>

<!-- TEAMS -->
<h3 class="mt-3" id="teams">Teams</h3>
<div class="accordion mt-3" id="accordionTeams">
  <!-- First Question-->
  <div class="card">
    <div class="card-header" id="headingOneTeams">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-dark collapsed" type="button" data-toggle="collapse"
          data-target="#collapseOneTeams" aria-expanded="false" aria-controls="collapseOneTeams">
          <h5 class="mb-0">How do teams work?</h5>
        </button>
      </h2>
    </div>
    <div id="collapseOneTeams" class="collapse" aria-labelledby="headingOneTeams" data-parent="#accordionTeams">
      <div class="card-body">
        Teams are used to generate the user accounts for our DOMjudge judging platform. In order to access DOMjudge
        and submit code solutions, your account must be tied to a team. Once your contest account is created
        and verified, you can choose to either create or join a team from the Account Dashboard.
      </div>
    </div>
  </div>
  <!-- Second Question-->
  <div class="card">
    <div class="card-header" id="headingTwoTeams">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-dark collapsed" type="button" data-toggle="collapse"
          data-target="#collapseTwoTeams" aria-expanded="false" aria-controls="collapseTwoTeams">
          <h5 class="mb-0">How do I create a team?</h5>
        </button>
      </h2>
    </div>
    <div id="collapseTwoTeams" class="collapse" aria-labelledby="headingTwoTeams" data-parent="#accordionTeams">
      <div class="card-body">
        <p>
          In your Account Dashboard, locate the Team section. If you have not yet joined a team, you will see buttons to 'Join
          registered team' and 'Create new team'. Click the create button, and a form will load where you can enter a team name,
          and select the division in which your team will compete. Once you click Submit your team will be created, and you will
          be set as the team admin.
        </p>
        <p>
          As the team admin, you will be able to see the team's PIN, which you can share with others you
          wish to join your team.
        </p>
         
      </div>
    </div>
  </div>
  <!-- Third Question-->
  <div class="card">
    <div class="card-header" id="headingThreeTeams">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-dark collapsed" type="button" data-toggle="collapse"
          data-target="#collapseThreeTeams" aria-expanded="false" aria-controls="collapseThreeTeams">
          <h5 class="mb-0">How do I join an existing team?</h5>
        </button>
      </h2>
    </div>
    <div id="collapseThreeTeams" class="collapse" aria-labelledby="headingThreeTeams" data-parent="#accordionTeams">
      <div class="card-body">
        <p>
          In your Account Dashboard, locate the Team section. If you have not yet joined a team, you will see buttons to
          'Join registered team' and 'Create new team'. Click the join button, and a form will load where you can select a
          team name from a dropdown menu of all currently registered teams.
        </p>
        <p>
          You will need to provide the team PIN which must be obtained from the team admin. Currently, you must coordinate with
          the team admin outside of the registration platform. Once you click Submit, assuming you have provided the correct PIN,
          you will be added to the team.
        </p> 
      </div>
    </div>
  </div>
  <!-- Fourth Question-->
  <div class="card">
    <div class="card-header" id="headingFourTeams">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-dark collapsed" type="button" data-toggle="collapse"
          data-target="#collapseFourTeams" aria-expanded="false" aria-controls="collapseFourTeams">
          <h5 class="mb-0">How many people may comprise a team?</h5>
        </button>
      </h2>
    </div>
    <div id="collapseFourTeams" class="collapse" aria-labelledby="headingFourTeams" data-parent="#accordionTeams">
      <div class="card-body">
        We allow teams of one, two, or three contestants.
      </div>
    </div>
  </div>
  <!-- Fifth Question-->
  <div class="card">
    <div class="card-header" id="headingFiveTeams">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-dark collapsed" type="button" data-toggle="collapse"
          data-target="#collapseFiveTeams" aria-expanded="false" aria-controls="collapseFiveTeams">
          <h5 class="mb-0">Am I required to be a member of a team?</h5>
        </button>
      </h2>
    </div>
    <div id="collapseFiveTeams" class="collapse" aria-labelledby="headingFiveTeams" data-parent="#accordionTeams">
      <div class="card-body">
        In short, yes. We use a one to one mapping of contest teams to DOMjudge user accounts. Therefore a team with multiple
        members will share a single set of DOMjudge credentials. Additionally, the number of correctly answered questions in
        DOMjudge is mapped back to the contest team, which is then used in processing participation for extra credit.
      </div>
    </div>
  </div>
  <!-- Sixth Question-->
  <div class="card">
    <div class="card-header" id="headingSixTeams">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-dark collapsed" type="button" data-toggle="collapse"
          data-target="#collapseSixTeams" aria-expanded="false" aria-controls="collapseSixTeams">
          <h5 class="mb-0">What are team admins and what can they do?</h5>
        </button>
      </h2>
    </div>
    <div id="collapseSixTeams" class="collapse" aria-labelledby="headingSixTeams" data-parent="#accordionTeams">
      <div class="card-body">
        A team admin is the member who is able to manage a registered team. The person who creates the team will automatically be assigned as its admin, and there is only one admin per team. They are able to: 
        <ul>
          <li>Update the team's name</li>
          <li>Change the team's division</li>
          <li>View the team's PIN</li>
          <li>Kick team members</li>
          <li>Delete the team</li>
        </ul>
        If the team admin decides to leave the team, the role will be assigned to another team member. 
      </div>
    </div>
  </div>
</div>

<!-- LFG -->
<h3 class="mt-3" id="lfg">Looking For Group</h3>
<div class="accordion mt-3" id="accordionLFG">
  <!-- Service Description -->
  <div class="card">
    <div class="card-header" id="headingZeroLFG">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-dark collapsed" type="button"
          data-toggle="collapse" data-target="#collapseZeroLFG" aria-expanded="false" aria-controls="collapseZeroLFG">
          <h5 class="my-0">What is #LookingForGroup?</h5>
        </button>
      </h2>
    </div>
    <div id="collapseZeroLFG" class="collapse" aria-labelledby="headingZeroLFG" data-parent="#accordionLFG">
      <div class="card-body">
        <p>
          This optional extension of a contest registration is designed to help you connect with other registrants
          who are actively seeking teammates. Upon enrollment and verification you will be able to view other active LFG participants in your LFG dashboard, as well
          as use the ACM at FSU Discord server's dedicated LFG channels to chat with other LFG participants within your preferred division.
        </p>
      </div>
    </div>
  </div>
  <!-- First Question-->
  <div class="card">
    <div class="card-header" id="headingOneLFG">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-dark collapsed" type="button"
          data-toggle="collapse" data-target="#collapseOneLFG" aria-expanded="false" aria-controls="collapseOneLFG">
          <h5 class="my-0">How do I set up my LFG profile?</h5>
        </button>
      </h2>
    </div>
    <div id="collapseOneLFG" class="collapse" aria-labelledby="headingOneLFG" data-parent="#accordionLFG">
      <div class="card-body">
        <ol>
          <li>Log in and head over to your LFG Dashboard. You can find a link to the dashboard in the dropdown navigation bar menu under your name.</li>
          <li>Add your full Discord username (username + discriminator), preferred division, and standing to your LFG
            profile.
            <ul>
              <li>The discriminator is the 4 digit number following the # in a Discord username.</li>
              <li>All fields must be complete in order to use the LFG service.</li>
            </ul>
          </li>
          <li>Join ACM at FSU's Discord server, if you are not already a member.
            <ul>
              <li>You must be a member of the server in order to activate your LFG profile.</li>
              <li>A link to join the server is on our <a href="{% url 'contact' %}">Contact Us</a> page.</li>
            </ul>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <!-- Second Question-->
  <div class="card">
    <div class="card-header" id="headingTwoLFG">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-dark collapsed" type="button"
          data-toggle="collapse" data-target="#collapseTwoLFG" aria-expanded="false" aria-controls="collapseTwoLFG">
          <h5 class="mb-0">What are the different LFG Profile statuses, and what do they mean?</h5>
        </button>
      </h2>
    </div>
    <div id="collapseTwoLFG" class="collapse" aria-labelledby="headingTwoLFG" data-parent="#accordionLFG">
      <div class="card-body">
        <span class="font-weight-bold">Profile Incomplete</span>
        <ul>
          <li>At least one of the fields in your LFG Profile is blank.</li>
          <li>All fields must be completed in order to proceed to the verification step.</li>
        </ul>

        <span class="font-weight-bold">Verification Pending</span>
        <ul>
          <li>Your profile is complete and the Discord username you entered is pending verification by our server.</li>
          <li>The Discord account attached to the username you entered must be a member of ACM at FSU's Discord server.
            A link to join the server is on our <a href="{% url 'contact' %}">Contact Us</a> page.</li>
        </ul>

        <span class="font-weight-bold">Inactive, Verified</span>
        <ul>
          <li>Your profile is verified and you may begin participating by clicking the 'Activate' button.</li>
        </ul>
        <span class="font-weight-bold">Active</span>
        <ul>
          <li>You are currently participating in the LFG service.</li>
          <li>Your profile will be visible in the division table of the preferred division you selected, and you will
            be added
            to the relevant LFG channel in the ACM at FSU Discord server.
            <ul>
              <li>If you update your preferred division while your profile is active, you will automatically be
                reassigned both in the
                preferred division table and in the ACM at FSU Discord server.</li>
            </ul>
          </li>
          <li>You can manually deactivate your profile by checking the 'Deactivate' button.
            <ul>
              <li>You can subsequently reactivate your
                profile.</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Third Question-->
  <div class="card">
    <div class="card-header" id="headingThreeLFG">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-dark collapsed" type="button"
          data-toggle="collapse" data-target="#collapseThreeLFG" aria-expanded="false" aria-controls="collapseThreeLFG">
          <h5 class="mb-0">How long does it take for my LFG Profile to become verified?</h5>
        </button>
      </h2>
    </div>
    <div id="collapseThreeLFG" class="collapse" aria-labelledby="headingThreeLFG" data-parent="#accordionLFG">
      <div class="card-body">
        It can take up to 45 minutes for your LFG profile to be verified, as we periodically check for new server
        members.
      </div>
    </div>
  </div>
  <!-- Fourth Question-->
  <div class="card">
    <div class="card-header" id="headingFourLFG">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-dark collapsed" type="button"
          data-toggle="collapse" data-target="#collapseFourLFG" aria-expanded="false" aria-controls="collapseFourLFG">
          <h5 class="mb-0">My LFG Profile was deactivated/unverified. What happened?</h5>
        </button>
      </h2>
    </div>
    <div id="collapseFourLFG" class="collapse" aria-labelledby="headingFourLFG" data-parent="#accordionLFG">
      <div class="card-body">
        <p>
          Your LFG Profile will become inactive once you are a member of a three person team. You can reactivate your
          profile if
          you leave the team or if the member total drops below three.
        </p>
        <p class="mb-0">
          Additionally, your profile will be scheduled for
          reverification if you update your profile's Discord username or discriminator fields after completing an
          initial
          verification.
        </p>

      </div>
    </div>
  </div>
  <!-- Fifth Question-->
  <div class="card">
    <div class="card-header" id="headingFiveLFG">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-dark collapsed" type="button"
          data-toggle="collapse" data-target="#collapseFiveLFG" aria-expanded="false" aria-controls="collapseFiveLFG">
          <h5 class="mb-0">How do Preferred Divisions work?</h5>
        </button>
      </h2>
    </div>
    <div id="collapseFiveLFG" class="collapse" aria-labelledby="headingFiveLFG" data-parent="#accordionLFG">
      <div class="card-body">
        <p>
          The preferred division you select determines which LFG Discord channel you will be able to access once your
          LFG Profile
          is verified and activated. You may select either division regardless of the standing you select.
        </p>
        <p class="mb-0">
          If you intend to seek
          extra credit in your registered courses, it is <i>strongly</i> encouraged for you to select the division in
          which you
          will need to compete in order to receive those points. Please reference the <span class="font-weight-bold">Contest</span>
          section of this FAQ for additional information regarding division selection.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
