{% extends 'core/base.html' %}
{% load static %}

{% block title %}FAQ{% endblock %}

{% block content %}

<div class="row justify-content-center">
	<h1>Freqently Asked Questions</h1>
</div>

<div class="row mt-3">
  <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">So how does this contest work?</h5>
          <p class="card-text">
            The contest is a series of challenging coding questions
            that require critical thinking and coding know-how.
            Each question has a prompt consisting of flavor text and a
            description of the challenge. You'll get the some constraints
            on the input, as well as some sample input and corresponding output.
            From there, your team will need to work together to write code that
            will produce the correct output for any input we could throw at you.
            Responses are scored on how quickly you solved the problem relative
            to the contest with points deducted for each incorrect submission.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">How do these divisions work?</h5>
          <p class="card-text">
            As our contest has grown almost ten-fold over the past five years,
            we want to allow less experienced participants to still be competitive.
            If you are currently enrolled in COP3014/COP3363(Intro to C++) or
            COP3330 (Object Oriented Programming), you qualify to register for
            the Lower Division. The Lower Division will have easier questions
            better suited for less experienced programmers.
            The Upper Division will cater to the highest levels of technincal talent;
            participants include undergraduate seniors, Ph.D students, and even
            department faculty.
          </p>
        </div>
      </div>
  </div>
</div>
<div class="row mt-3">
  <div class="card-deck">
     
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Who can come?</h5>
          <p class="card-text">
            Everyone is welcome! Students, teachers, staff from both high-schools
            and colleges are welcome, as well as those not in those categories.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">How much does it cost?</h5>
          <p class="card-text">
            Absolutely nothing. Admission is free!
          </p>
        </div>
      </div>
  </div>
</div>
<div class="row mt-3">
  <div class="card-deck">
     
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">When does it start?</h5>
          <ul class="card-text">
            <li>Check-in opens at 9am.</li>
            <li>Contest starts at 10am.</li>
            <li>Contest ends at 3pm.</li>
            <li>Award ceremony starts at 3:15pm.</li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">How much experience do I need?</h5>
          <p class="card-text">
            We recommend some early programming experience in one of our
            supported languages: C/C++, Java, Python, Perl, C#, and Javascript.
            You'll have access to official language documentation, but that's it.
            No Google, no StackOverflow.
          </p>
        </div>
      </div>
  </div>
</div>
<div class="row mt-3">
  <div class="card-deck">
     
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">What do I need to bring?</h5>
          <p class="card-text">
            A laptop and your charger for sure. We totally recommend
            some pens or pencils to jot down your thoughts as you work
            to solve the questions.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">How will I register my team?</h5>
          <p class="card-text">
            You can register as a preformed team, or join one after registering alone.
            Visit the team page after you log in to see more.
          </p>
        </div>
      </div>
  </div>
</div>

{% endblock %}
