{% extends 'core/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

{% if messages %}
  {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
      <div class="alert alert-danger alert-dismissible fade show mt-3">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {% if message.tags %}<strong>{{ message.tags }}</strong>{% endif %} {{ message }}
      </div>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
      <div class="alert alert-warning alert-dismissible fade show mt-3">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {% if message.tags %}<strong>{{ message.tags }}</strong>{% endif %} {{ message }}
      </div>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
      <div class="alert alert-success alert-dismissible fade show mt-3">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {% if message.tags %}<strong>{{ message.tags }}</strong>{% endif %} {{ message }}
      </div>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
      <div class="alert alert-info alert-dismissible fade show mt-3">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {% if message.tags %}<strong>{{ message.tags }}</strong>{% endif %} {{ message }}
      </div>
    {% endif %}
  {% endfor %}
{% endif %}

<div class="jumbotron text-center" style="background-color: #787878; margin-top: 1em;">
  <h1>Welcome to the ACM Programming Contest</h1>
  <h3>Spring 2021 Date @ 9am</h3>
</div>
<h2 class="text-center">Our Sponsors</h2>


{% endblock %}
