{% extends 'core/base.html' %}
{% load static %}

{% block head %}
<style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}

{% if messages %}
  {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
      <div class="alert alert-danger alert-dismissible fade show mt-3">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {% if message.tags %}<strong>{{ message.tags }}</strong>{% endif %} {{ message }}
      </div>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
      <div class="alert alert-warning alert-dismissible fade show mt-3">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {% if message.tags %}<strong>{{ message.tags }}</strong>{% endif %} {{ message }}
      </div>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
      <div class="alert alert-success alert-dismissible fade show mt-3">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {% if message.tags %}<strong>{{ message.tags }}</strong>{% endif %} {{ message }}
      </div>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
      <div class="alert alert-info alert-dismissible fade show mt-3">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {% if message.tags %}<strong>{{ message.tags }}</strong>{% endif %} {{ message }}
      </div>
    {% endif %}
  {% endfor %}
{% endif %}

<div class="jumbotron text-center mt-3" style="background-color: #787878;">
  <h1>Welcome to the ACM at FSU Programming Contest</h1>
  <h3>Spring 2021 Date @ 9am</h3>
</div>
<p class="lead text-center">An <a href="https://icpc.global" target="_blank">ICPC</a> style contest hosted semesterly by the Association for Computing Machinery Florida State University Student Chapter.</p>
<hr>
<h2 class="text-center">Our Sponsors</h2>
<div class="card-deck">
  <div class="card mt-3 shadow">
    <div class="card-header fakeimg">Fake Image</div>
    <div class="card-body">
      <h3 class="card-title">Sponsor 1</h3>
    </div>
  </div>
  <div class="card mt-3 shadow">
    <div class="card-header fakeimg">Fake Image</div>
    <div class="card-body">
      <h3 class="card-title">Sponsor 2</h3>
    </div>
  </div>
    <div class="card mt-3 shadow">
      <div class="card-header fakeimg">Fake Image</div>
      <div class="card-body">
        <h3 class="card-title">Sponsor 3</h3>
      </div>
    </div>
  </div>
</div>

{% endblock %}
