{% extends 'core/base.html' %}
{% load cache %}
{% load static %}

{% block title %}Teams{% endblock %}

{% block content %}
{% cache cache_timeout teams %}
	<div class="row justify-content-center">
		<h1>Registered Teams</h1>
	</div>
	<div class="row">
		<h2>Upper Division</h2>
	</div>
	<div class="row">
		<button type="button" class="btn  btn-sm btn-primary mr-2" disabled>
			Teams <span class="badge badge-light">{{ num_upper_teams }}</span>
			<span class="sr-only">number of upper division teams</span>
		</button>
		<button type="button" class="btn  btn-sm btn-info" disabled>
			Participants <span class="badge badge-light">{{ num_upper_participants }}</span>
			<span class="sr-only">number of upper division participants</span>
		</button>
	</div>
	<div class="row justify-content-center mt-3">
		<div class="col-10">
			<table class="table table-sm table-striped shadow rounded">
				<thead class="thead-dark text-center">
					<tr>
						<th scope="col">Team Name</th>
						<th scope="col">Questions Answered</th>
						<th scope="col">Team Members</th>
					</tr>
				</thead>
				<tbody class="bg-light">
					{% for team in upper_teams %}
					<tr>
						<td>{{ team.name }}</td>
						<td class="text-center">{{ team.questions_answered }}</td>
						<td>
							<small>
								{% for member in team.members %}
									{{ member }}&emsp;&emsp;
								{% endfor %}
							</small>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<h2>Lower Division</h2>
	</div>
	<div class="row">
		<button type="button" class="btn  btn-sm btn-primary mr-2" disabled>
			Teams <span class="badge badge-light">{{ num_lower_teams }}</span>
			<span class="sr-only">number of lower division teams</span>
		</button>
		<button type="button" class="btn  btn-sm btn-info" disabled>
			Participants <span class="badge badge-light">{{ num_lower_participants }}</span>
			<span class="sr-only">number of lower division participants</span>
		</button>
	</div>
	<br>
	<div class="row justify-content-center">
		<div class="col-10">
			<table class="table table-sm table-striped shadow ">
				<thead class="thead-dark text-center">
					<tr>
						<th scope="col">Team Name</th>
						<th scope="col">Questions Answered</th>
						<th scope="col">Team Members</th>
					</tr>
				</thead>
				<tbody class="bg-light">
					{% for team in lower_teams %}
					<tr>
						<td>{{ team.name }}</td>
						<td>{{ team.questions_answered }}</td>
						<td>
							<small>
								{% for member in team.members %}
									{{ member }}&emsp;&emsp;
								{% endfor %}
							</small>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% endcache %}
{% endblock %}