{% extends 'core/base.html' %}
{% load cache %}
{% load static %}

{% block head %}
<meta name="robots" content="noindex">
{% endblock %}

{% block section %}Teams{% endblock %}

{% block content %}
{% cache CACHE_TIMEOUT teams %}
	<h1 class="text-center">Registered Teams</h1>
	<div class="row">
		<div class="col">
			<h2>Upper Division</h2>
			<button type="button" class="btn  btn-sm btn-primary mr-2" disabled>
				<i class="fa-solid fa-users fa-fw"></i> Teams <span class="badge badge-light">{{ num_upper_teams }}</span>
				<span class="sr-only">number of upper division teams</span>
			</button>
			<button type="button" class="btn  btn-sm btn-info" disabled>
				<i class="fa-solid fa-user fa-fw"></i> Participants <span class="badge badge-light">{{ num_upper_participants }}</span>
				<span class="sr-only">number of upper division participants</span>
			</button>			
			<div class="table-responsive mt-2">
				<table class="table table-sm table-striped shadow rounded">
					<thead class="thead-dark text-center">
						<tr>
							<th scope="col">Team Name</th>
							<th scope="col">Questions Answered</th>
							<th scope="col">Score</th>
							<th scope="col">Team Members</th>
						</tr>
					</thead>
					<tbody class="bg-light">
						{% for team in upper_teams %}
						<tr>
							<td class="text-center">{{ team.name }}</td>
							<td class="text-center">{{ team.questions_answered }}</td>
							<td class="text-center">{{ team.score }}</td>
							<td class="text-center">
								<small>
									{% with team.get_members|last as last %}							
										{% for member in team.get_members %}
											{% if member == last %}
												{{ member }}
											{% else %}
												{{ member }},&puncsp;
											{% endif %}
										{% endfor %}
									{% endwith %}
								</small>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h2>Lower Division</h2>		
			<button type="button" class="btn  btn-sm btn-primary mr-2" disabled>
				<i class="fa-solid fa-users fa-fw"></i> Teams <span class="badge badge-light">{{ num_lower_teams }}</span>
				<span class="sr-only">number of lower division teams</span>
			</button>
			<button type="button" class="btn  btn-sm btn-info" disabled>
				<i class="fa-solid fa-user fa-fw"></i> Participants <span class="badge badge-light">{{ num_lower_participants }}</span>
				<span class="sr-only">number of lower division participants</span>
			</button>
			<div class="table-responsive mt-2">
				<table class="table table-sm table-striped shadow ">
					<thead class="thead-dark text-center">
						<tr>
							<th scope="col">Team Name</th>
							<th scope="col">Questions Answered</th>
							<th scope="col">Score</th>
							<th scope="col">Team Members</th>
						</tr>
					</thead>
					<tbody class="bg-light">
						{% for team in lower_teams %}
						<tr>
							<td class="text-center">{{ team.name }}</td>
							<td class="text-center">{{ team.questions_answered }}</td>
							<td class="text-center">{{ team.score }}</td>
							<td class="text-center">
								<small>
									{% with team.get_members|last as last %}
										{% for member in team.get_members %}
											{% if member == last %}
												{{ member }}
											{% else %}
												{{ member }},&puncsp;
											{% endif %}
										{% endfor %}
									{% endwith %}
								</small>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endcache %}
{% endblock %}