{% extends 'core/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'checkin/css/checkin.css' %}"/>
<script src="{% static 'checkin/js/common.js' %}"></script>
{% endblock %}

{% block title %}Contest Checkin{% endblock %}

{% block content %}

<div class="row justify-content-center">
	<h1>Contest Checkin</h1>
</div>

{% if messages %}
	{% for message in messages %}
		{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
			<div class="alert alert-danger alert-dismissible fade show mt-3">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{% if message.tags %}<strong>{{ message.tags }}</strong>{% endif %} {{ message }}
			</div>
		{% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
			<div class="alert alert-warning alert-dismissible fade show mt-3">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{% if message.tags %}<strong>{{ message.tags }}</strong>{% endif %} {{ message }}
			</div>
		{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
			<div class="alert alert-success alert-dismissible fade show mt-3">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{% if message.tags %}<strong>{{ message.tags }}</strong>{% endif %} {{ message }}
			</div>
		{% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
			<div class="alert alert-info alert-dismissible fade show mt-3">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{% if message.tags %}<strong>{{ message.tags }}</strong>{% endif %} {{ message }}
			</div>
		{% endif %}
	{% endfor %}
{% endif %}

<div class="jumbotron text-center mt-4" style="background-color: #787878; margin-top: 1em;">
	<div id="walkin_prompt">
		<h2 class="text-warning">Are you a walk-in contestant?</h2>
		<button type="button" class="btn btn-light btn-lg mx-1" onclick="walkin_prompt(false)">No</button>
		<button type="button" class="btn btn-primary btn-lg mx-1" onclick="walkin_prompt(true)">Yes</button>
	</div>



	<div id="checkin_form" style="display:none">
		<h2 class="text-warning">Swipe your FSU Card or select Email checkin</h2>
		<form method="post" id="swipeForm">
			{% csrf_token %}
			<div class="" id="walkinDiv" style="display:none">
				<span class="h5">Walk-in:</span>
				{% for field in walkin_form %}
					{{ field }}
				{% endfor %}
			</div>

			<div id="swipeDiv">
				<div class="row justify-content-center">
					{% for field in swipe_form %}
					<p>
						{{ field }}<br>
						<small class="form-text text-muted">
							{% for error in field.errors %}
							<p class="text-monospace font-weight-lighter text-danger mb-0">-{{ error }}</p>
							{% endfor %}
							{% if field.help_text %}
							{{ field.help_text }}
							{% endif %}
						</small>
					</p>
					{% endfor %}
				</div>
			</div>

			<div id="emailDiv" style="display:none">
				<div class="row justify-content-center">
					<div class="col col-6">
					<div class="card mt-0 ">
						<div class="card-body overflow-auto">
							{% for field in email_form %}
							<p>
								{{ field }}<br>
								<small class="form-text text-muted">
									{% for error in field.errors %}
									<p class="text-monospace font-weight-lighter text-danger mb-0">-{{ error }}</p>
									{% endfor %}
									{% if field.help_text %}
									{{ field.help_text }}
									{% endif %}
								</small>
							</p>
							{% endfor %}
						</div>
						<div class="card-footer">
							<button class="btn btn-primary" type="submit">Submit</button>
						</div>
					</div>
				</div>
				</div>
			</div>
		</form>		
		<br>
		<a class="btn btn-light btn-lg mx-1" href="{% url 'checkin' %}" role="button">Refresh form</a>
		<button type="button" class="btn btn-primary btn-lg mx-1" id="formSwap" onclick="swap_form()">Email checkin</button>
	</div>
</div>

<script>
	var textarea = document.getElementById("id_fsu_num");

	textarea.addEventListener("input", function () {
		// replace with logic to check for end of swipe
		// waiting on card reader

		var maxlength = 8;
		var currentLength = this.value.length;

		if (currentLength >= maxlength) {
			document.getElementById("swipeForm").submit();
		} else {
			console.log(maxlength - currentLength + " chars left");
		}
	});
</script>
{% endblock %}