{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'checkin/css/checkin.css' %}"/>
<script src="{% static 'checkin/js/common.js' %}"></script>
{% endblock %}

{% block section %}Contest Check-in{% endblock %}

{% block content %}

<h1 class="text-center">Contest Check-in</h1>

<!-- Messages -->
{% include 'messages.html' %}
<!-- End Messages -->

<div class="jumbotron text-center mt-4" style="background-color: #787878; margin-top: 1em;">
	<div id="walkin_prompt">
		<h2 class="text-warning">Are you a member of a registered team?</h2>
		<button type="button" class="btn btn-light btn-lg mx-1" onclick="walkin_prompt(true)">No</button>
		<button type="button" class="btn btn-primary btn-lg mx-1" onclick="walkin_prompt(false)">Yes</button>
	</div>

	<div id="checkinDiv" style="display:none">
		<form method="post" id="checkinForm">
			{% csrf_token %}
			<div class="" id="walkinDiv" onchange="show_next()" style="display:none">
				<!-- <span class="h5">Walk-in:</span> -->
				<h2 class="text-warning">Select Division</h2>
				{% for field in walkin_form %}
					{{ field }}
				{% endfor %}	
			</div>

			<div id="swipeDiv" onload="read_swipe()" style="display:none">
				<div class="row justify-content-center">
					{% for field in swipe_form %}
					<p>
						{{ field }}<br>
						<small class="form-text text-muted">
							{% for error in field.errors %}
							<p class="text-monospace font-weight-lighter text-danger mb-0">-{{ error }}</p>
							{% endfor %}
							{% if field.help_text %}
							{{ field.help_text }}
							{% endif %}
						</small>
					</p>
					{% endfor %}
				</div>
			</div>

			<div id="emailDiv" style="display:none">
				<div class="row justify-content-center">
					<div class="col col-6">
					<div class="card mt-0 ">
						<div class="card-body overflow-auto">
							{% for field in email_form %}
							<p>
								{{ field }}<br>
								<small class="form-text text-muted">
									{% for error in field.errors %}
									<p class="text-monospace font-weight-lighter text-danger mb-0">-{{ error }}</p>
									{% endfor %}
									{% if field.help_text %}
									{{ field.help_text }}
									{% endif %}
								</small>
							</p>
							{% endfor %}
						</div>
						<div class="card-footer">
							<button class="btn btn-primary" type="submit">Submit</button>
						</div>
					</div>
				</div>
				</div>
			</div>
		</form>		
		<br>
		<a class="btn btn-light btn-lg mx-1" href="{% url 'checkin' %}" role="button">Refresh form</a>
		<button type="button" class="btn btn-primary btn-lg mx-1" id="walkinNext" onclick="show_swipe()" style="display:none">Next</button>
		<button type="button" class="btn btn-primary btn-lg mx-1" id="formSwap" onclick="swap_form()" style="display:none">Email check-in</button>
	</div>
</div>
{% endblock %}
