{% autoescape off %}
Hello {{ user.first_name }},

Welcome to this semester's Programming Contest!

You have checked in as a member of team: {{ user.profile.team.name }}

Your team's DOMjudge credentials are below. You can access DOMjudge using the Contest Server link found in the Resources section of the registration site's navigation bar.

username: {{ user.profile.team.contest_id }}
password: {{ user.profile.team.contest_password }}


IMPORTANT: Do NOT select 'Leave' in the Team panel of your Account Dashboard. This will check you out of the contest and make you ineligible for extra credit. 

Cheers,
The Programming Contest Team
contest@fsu.acm.org

*** This message was sent from an unmonitored address. Please contact us at the address in our signature. ***
{% endautoescape %}
