{% autoescape off %}
Hello {{ user.first_name }},

Welcome to this semester's Programming Contest!

You have checked in as a member of team: {{ user.profile.team.name }}

Your team's DOMjudge credentials are below. Use these credentials when your team logs in to DOMjudge.

https://domjudge.cs.fsu.edu

username: {{ user.profile.team.contest_id }}
password: {{ user.profile.team.contest_password }}

IMPORTANT: Do NOT select 'Leave' in the Team panel of your account dashboard. This will check you out of the contest and make you ineligible for extra credit.

Cheers,
The Programming Contest Team
contest@fsu.acm.org

*** This message was sent from an unmonitored address. Please contact us at the address in our signature. ***
{% endautoescape %}
