{% extends 'core/base.html' %}

{% load static %}

{% block head %}
	<style>
		ul {list-style-type: none;}
	</style>
{% endblock %}

{% block title %}Manage Courses{% endblock %}

{% block content %}
	<h1 class="text-center">My Courses</h1>

	<!-- Messages -->
	{% include 'core/messages.html' %}
	<!-- End Messages -->
	<div class="row justify-content-center ">

				<form method="post" class="mt-3 text-nowrap overflow-auto">
					{% csrf_token %}
					{% for field in form %}
					<p>
					{{ field }}<br>
					<small class="form-text text-muted">
						{% for error in field.errors %}
						<p class="text-monospace font-weight-lighter text-danger mb-0">-{{ error }}</p>
						{% endfor %}
						{% if field.help_text %}
						{{ field.help_text }}
						{% endif %}
					</small>
					</p>
					{% endfor %}
			
		<button class="btn btn-primary btn-sm" type="submit" value="submit">Select</button>
		<a class="btn btn-secondary btn-sm" href="{% url 'manage_dashboard' %}" role="button">Cancel</a>
		</form>
	</div>
{% endblock %}