{% extends 'core/base.html' %}
{% load static %}

{% block section %}Account Dashboard{% endblock %}

{% block content %}
	<h1 class="text-center">Account Dashboard</h1>

	<!-- Messages -->
	{% include 'core/messages.html' %}
	<!-- End Messages -->
	<!-- Announcements Display -->
	<div class="row justify-content-center">
		<div class="col">
			{% for announcement in announcements %}
				<div class="alert alert-dismissible fade show mt-3 mb-2 p-0 shadow-sm">
					<div class="card m-0">
						<div class="card-header font-weight-bold">
							Recent Announcement
							<button type="button" class="close" data-dismiss="alert">&times;</button>
						</div>
						<div class="card-body">
							<h4 class="card-title mb-0">{{ announcement.title }}</h4>
							<small class="card-text text-muted">{{ announcement.author.first_name }} | {{ announcement.created_on}} </small>
							{% if announcement.created_on < announcement.updated_on %}
								<br>
								<small class="card-text text-muted">Updated on: {{ announcement.updated_on}} </small>
							{% endif %}
							{% if announcement.content|length > 140 %}
								<p class="card-text lead mt-2">{{announcement.content|slice:":140" }}...</p>
								<a href="{% url 'announcement_detail' announcement.slug  %}" class="btn btn-primary btn-sm">Read More</a>
							{% else %}
								<p class="card-text lead mt-2">{{announcement.content }}</p>
							{% endif %}
						</div>
					</div>
				</div>
			{% empty %}
				<div class="card mt-4 shadow-sm">
					<div class="card-header font-weight-bold">
						Recent Announcement
					</div>
					<div class="card-body">
						<p class="lead">No announcements posted.</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<!-- End Announcements Display -->
	<!-- User Card deck -->
	<div class="card-deck">
		<!-- Profile card -->
		<div class="card mt-4">
			<div class="card-header font-weight-bold">
				Profile
			</div>
			<div class="card-body overflow-auto">
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><span class="font-weight-bolder">Name:</span> {{ user.get_full_name }}</li>
					<li class="list-group-item"><span class="font-weight-bolder">Email:</span> {{ user.email }}</li>
					<li class="list-group-item"><span class="font-weight-bolder">FSU ID:</span> {{ user.profile.fsu_id }}</li>
					<li class="list-group-item"><span class="font-weight-bolder">FSU Number:</span> {{ user.profile.fsu_num }}</li>
					{% if user.profile.checked_in %}
						<li class="list-group-item"><span class="font-weight-bolder">Checked-in:</span> Yes</li>
					{% else %}
						<li class="list-group-item"><span class="font-weight-bolder">Checked-in:</span> No</li>
					{% endif %}
					{% if user.profile.role == 1 %}
						<li class="list-group-item"><span class="font-weight-bolder">Role:</span> Contestant</li>
					{% elif user.profile.role == 2 %}
						<li class="list-group-item"><span class="font-weight-bolder">Role:</span> Proctor</li>
					{% elif user.profile.role == 3 %}
						<li class="list-group-item"><span class="font-weight-bolder">Role:</span> Question Writer</li>
					{% else %}
						<li class="list-group-item"><span class="font-weight-bolder">Role:</span> Organizer</li>
					{% endif %}
				</ul>
			</div>
			<div class="card-footer">
				<a class="btn btn-info btn-sm" href="{% url 'manage_profile' %}" role="button">Edit</a>
			</div>
		</div>
		<!-- Profile card end -->
		<!-- Courses card -->
		<div class="card mt-4">
			<div class="card-header font-weight-bold">
				Courses
			</div>
			<div class="card-body overflow-auto">
				{% if user.profile.has_courses %}
					<table class="table table-sm">
						<thead>
							<tr>
								<th scope="col">Code</th>
								<th scope="col">Name</th>
								<th scope="col">Instructor</th>
							</tr>
						</thead>
						<tbody>
							{% for course in courses %}
							<tr>
								<td>{{ course.code }}</td>
								<td>{{ course.name }}</td>
								<td>{{ course.instructor.last_name }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				{% elif total_num_courses == 0 %}
					<p class="text-center">No courses have been confirmed at this time.</p>
				{% else %}
					<div class="row justify-content-center">
						<a class="btn btn-outline-info btn-sm" href="{% url 'manage_courses' %}" role="button">Add</a>
					</div>
				{% endif %}
			</div>
			<div class="card-footer">
				{% if user.profile.has_courses %}
					<a class="btn btn-info btn-sm" href="{% url 'manage_courses' %}" role="button">Edit</a>
					<button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
						data-target="#confirmClearModal">Clear</button>
				{% else %}
					<button type="button" class="btn btn-info btn-sm disabled">Edit</button>
					<button type="button" class="btn btn-danger btn-sm disabled">Clear</button>
				{% endif %}
			</div>
		</div>
		<!-- Courses card end -->		
	</div>
	<!-- User Card deck end -->
	<!-- Team Card deck -->
	<div class="card-deck">
		<!-- Team card -->
		<div class="card mt-4">
			<div class="card-header font-weight-bold">
				Team
			</div>
			<div class="card-body overflow-auto">
				{% if user.profile.has_team %}
					<ul class="list-group list-group-flush">
						<li class="list-group-item"><span class="font-weight-bolder">Name:</span> {{ user.profile.team.name }}</li>
						{% if user.profile.team.division == 1 %}
							<li class="list-group-item"><span class="font-weight-bolder">Division:</span> Upper</li>
						{% else %}
							<li class="list-group-item"><span class="font-weight-bolder">Division:</span> Lower</li>
						{% endif %}
						{% if user.profile.team_admin %}
							<li class="list-group-item"><span class="font-weight-bolder">Admin:</span> Yes</li>
							<li class="list-group-item"><span class="font-weight-bolder">PIN:</span> {{ user.profile.team.pin }}</li>
						{% else %}

							<li class="list-group-item"><span class="font-weight-bolder">Admin:</span> No</li>
						{% endif %}
						{% if user.profile.team.is_walkin %}
							<li class="list-group-item"><span class="font-weight-bolder">PIN:</span> {{ user.profile.team.pin }}</li>
						{% endif %}
						{% if user.profile.checked_in %}
							<li class="list-group-item"><span class="font-weight-bolder">DOMjudge username:</span> {{ user.profile.team.contest_id }}</li>
							<li class="list-group-item"><span class="font-weight-bolder">DOMjudge password:</span> {{ user.profile.team.contest_password }}</li>
						{% endif %}
					</ul>
				{% else %}
				<div class="row justify-content-center">
					<a class="btn btn-outline-info btn-sm" href="{% url 'join_team' %}" role="button">Join registered team</a>
				</div>
				<hr>
				<div class="row justify-content-center">
					<a class="btn btn-outline-info btn-sm" href="{% url 'register_team' %}" role="button">Create new team</a>
				</div>
				{% endif %}
			</div>
			<div class="card-footer">
				{% if user.profile.has_team %}
					{% if user.profile.team_admin %}
						<a class="btn btn-info btn-sm" href="{% url 'manage_team' %}" role="button">Manage</a>
						<button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#confirmLeaveModal">Leave</button>
						<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmDeleteModal">Delete</button>
					{% else %}
						<button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#confirmLeaveModal">Leave</button>
					{% endif %}
				{% else %}
					<button type="button" class="btn btn-warning btn-sm disabled">Leave</button>
				{% endif %}
			</div>
		</div>
		<!-- Team card end -->
		<!-- Team Members card -->
		<div class="card mt-4">
			<div class="card-header font-weight-bold">
				Team Members
			</div>
			<div class="card-body overflow-auto">
				{% if user.profile.has_team %}
					<table class="table table-sm">
						<thead>
							<tr>
								<th scope="col">First name</th>
								<th scope="col">Last name</th>
								<th scope="col">Checked in</th>
							</tr>
						</thead>
						<tbody>
							{% for member in team_members %}
							<tr>
								<td>{{ member.first_name }}</td>
								<td>{{ member.last_name }}</td>
								{% if member.profile.checked_in %}
									<td>Yes</td>
								{% else %}
									<td>No</td>
								{% endif %}
							</tr>
							{% endfor %}
						</tbody>
					</table>
				{% else %}
				<div class="row justify-content-center">
					<a class="btn btn-outline-info btn-sm" href="{% url 'join_team' %}" role="button">Join registered team</a>
				</div>
				<hr>
				<div class="row justify-content-center">
					<a class="btn btn-outline-info btn-sm" href="{% url 'register_team' %}" role="button">Create new team</a>
				</div>
				{% endif %}
			</div>
		</div>
		<!-- Team Members card end -->
	</div>
	<!-- Team Card deck end --> 
	<!-- Confirm Clear Modal -->
	<div class="modal fade" id="confirmClearModal" tabindex="-1" role="dialog"
		aria-labelledby="confirmClearModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="confirmClearModalLongTitle">Clear courses</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to clear your courses?</p>
				</div>
				<div class="modal-footer">
					<a class="btn btn-primary" href="{% url 'clear_courses' %}" role="button">Confirm</a>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- End Confirm Clear Modal -->
	<!-- Confirm Leave Modal -->
	<div class="modal fade" id="confirmLeaveModal" tabindex="-1" role="dialog"
		aria-labelledby="confirmLeaveModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="confirmLeaveModalLongTitle">Leave team</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to leave {{ request.user.profile.team.name }} ?</p>
				</div>
				<div class="modal-footer">
					<a class="btn btn-primary" href="{% url 'leave_team' %}" role="button">Confirm</a>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- End Confirm Leave Modal -->
	<!-- Confirm Delete Modal -->
	<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog"
		aria-labelledby="confirmDeleteModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="confirmDeleteModalLongTitle">Delete team</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to delete {{ request.user.profile.team.name }} ?</p>
				</div>
				<div class="modal-footer">
					<a class="btn btn-primary" href="{% url 'delete_team' %}" role="button">Confirm</a>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- End Confirm Delete Modal -->
{% endblock %}