{% extends 'core/base.html' %}
{% load static %}

{% block section %}Join Team{% endblock %}

{% block content %}
	<h1 class="text-center">Join Team</h1>
	<!-- Messages -->
	{% include 'messages.html' %}
	<!-- End Messages -->
	<div class="row justify-content-center">
		<div class="col col-md-8 col-lg-5">
			<form method="post">
				<div class="card">
					<div class="card-body overflow-auto">
						{% csrf_token %}
						{% for field in form %}
							<p>
								<h5 class="mb-0">{{ field.label_tag }}</h5>
								{{ field }}<br>
								<small class="form-text text-muted">
									{% for error in field.errors %}
									<p class="text-monospace font-weight-lighter text-danger mb-0">-{{ error }}</p>
									{% endfor %}
									{% if field.help_text %}
										{{ field.help_text }}
									{% endif %}
								</small>
							</p>
						{% endfor %}
					</div>
					<div class="card-footer">
						<button class="btn btn-primary btn-sm" type="submit">Save</button>
						<a class="btn btn-secondary btn-sm" href="{% url 'manage_dashboard' %}" role="button">Cancel</a>
					</div>
				</div>
				
			</form>
		</div>
	</div>
	<br>
{% endblock %}
