{% extends 'core/base.html' %}
{% load static %}

{% block title %}Join Team{% endblock %}

{% block content %}
	<div class="row justify-content-center">
		<h1>Join Team</h1>
	</div>
	{% if messages %}
		{% for message in messages %}
			{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
				<div class="alert alert-danger alert-dismissible fade show mt-3">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{% if message.tags %}<strong>{{ message.tags }}</strong>{% endif %} {{ message }}
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}
	<div class="row justify-content-center">
		<div class="col col-sm-4">
			<form method="post">
				{% csrf_token %}
				{% for field in form %}
					<p>
						<h5 class="mb-0">{{ field.label_tag }}</h5>
						{{ field }}<br>
						<small class="form-text text-muted">
							{% for error in field.errors %}
							<p class="text-monospace font-weight-lighter text-danger mb-0">-{{ error }}</p>
							{% endfor %}
							{% if field.help_text %}
								{{ field.help_text }}
							{% endif %}
						</small>
					</p>
				{% endfor %}
				<button class="btn btn-primary btn-sm" type="submit">Save</button>
				<a class="btn btn-secondary btn-sm" href="{% url 'manage_dashboard' %}" role="button">Cancel</a>
			</form>
		</div>
	</div>
	<br>
{% endblock %}