{% extends 'core/base.html' %}
{% load static %}

{% block title %}Manage Profile{% endblock %}

{% block content %}
	<div class="row justify-content-center">
		<h1>Edit Profile</h1>
	</div>
	{% if messages %}
		{% for message in messages %}
			{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
				<div class="alert alert-danger alert-dismissible fade show mt-3">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{% if message.tags %}<strong>{{ message.tags }}</strong>{% endif %} {{ message }}
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}
	<div class="row justify-content-center">
		<div class="col col-md-4">
			<form method="post">
				<div class="card">
					<div class="card-body">
						{% csrf_token %}
						{% for field in user_form %}
							<p>
								<h5 class="mb-0">{{ field.label_tag }}</h5>
								{{ field }}<br>
								<small class="form-text text-muted">
									{% for error in field.errors %}
									<p class="text-monospace font-weight-lighter text-danger mb-0">-{{ error }}</p>
									{% endfor %}
									{% if field.help_text %}
										{{ field.help_text }}
									{% endif %}
								</small>
							</p>
						{% endfor %}
						{% for field in profile_form %}
							<p>
								<h5 class="mb-0">{{ field.label_tag }}</h5>
								{{ field }}<br>
								<small class="form-text text-muted">
									{% for error in field.errors %}
										<p class="text-monospace font-weight-lighter text-danger mb-0">-{{ error }}</p>
									{% endfor %}
									{% if field.help_text %}
										{{ field.help_text }}
									{% endif %}
								</small>
							</p>
						{% endfor %}						
					</div>
					<div class="card-footer">
						<button class="btn btn-primary btn-sm" type="submit">Save</button>
						<a class="btn btn-secondary btn-sm" href="{% url 'manage_dashboard' %}" role="button">Cancel</a>
					</div>
				</div>
				
			</form>
		</div>
	</div>
	<br>
{% endblock %}