{% extends 'core/base.html' %}
{% load static %}

{% block title %}Manage Team{% endblock %}

{% block content %}
	<div class="row justify-content-center">
		<h1>Manage Team</h1>
	</div>
	{% if messages %}
		{% for message in messages %}
			{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
				<div class="alert alert-danger alert-dismissible fade show mt-3">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{% if message.tags %}<strong>{{ message.tags }}</strong>{% endif %} {{ message }}
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}
	<div class="row justify-content-center">
		<div class="col col-sm-4">
			<form method="post">
				{% csrf_token %}
				{% for field in form %}
					<p>
						<h5 class="mb-0">{{ field.label_tag }}</h5>
						{{ field }}<br>
						<small class="form-text text-muted">
							{% for error in field.errors %}
							<p class="text-monospace font-weight-lighter text-danger mb-0">-{{ error }}</p>
							{% endfor %}
							{% if field.help_text %}
								{{ field.help_text }}
							{% endif %}
						</small>
					</p>
				{% endfor %}
				<button class="btn btn-primary btn-sm" type="submit">Save</button>
				{% if request.user.profile.team.num_members > 1 %}
					<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#removeTeammateModal">Remove Members
					</button>
				{% endif %}
				<a class="btn btn-secondary btn-sm" href="{% url 'manage_base' %}" role="button">Cancel</a>
			</form>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="removeTeammateModal" tabindex="-1" role="dialog" aria-labelledby="removeTeammateModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="removeTeammateModalLongTitle">Team members</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					{% for member in team_members %}
						<span>{{ member.first_name }} {{member.last_name }}</span><a class="btn btn-danger btn-sm ml-3" href="{% url 'remove_member' username=member.username %}" role="button">Remove</a>
						{% if not forloop.last %}
							<br><br>
						{% endif %}
					{% endfor %}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>	
{% endblock %}