{% autoescape off %}
Hello {{ user.first_name }},

Thank you for signing up for this semester's contest! Please follow the link below to confirm your account:

https://{{ domain }}{% url 'activate' uidb64=uid token=token %}

Check out the FAQ for information regarding how to complete your registration, and sign up for extra credit:

https://{{ domain }}{% url 'faq' %}

Finally, keep an eye on the Announcements section for the latest information from the Contest Team:

https://{{ domain }}{% url 'announcements' %}

NOTE: Many of the site's public facing pages (such as the Teams page) are cached, and will thus not immediately reflect changes made to your account or team.

Cheers,
The Programming Contest Team
contest@fsu.acm.org

*** This message was sent from an unmonitored address. Please contact us at the address in our signature. ***
{% endautoescape %}
