{% autoescape off %}
Hello {{ user.first_name }},

Thank you for registering for this semester's contest! Please follow the link below to confirm your registration:

https://{{ domain }}{% url 'activate' uidb64=uid token=token %}

Also check out the FAQ for information regarding how to complete your profile, and sign up for extra credit:

https://{{ domain }}{% url 'faq' %}

NOTE: Many of the site's public facing pages (such as the Teams page) are cached, and will thus not immediately reflect changes made to your account or team.

Cheers,
The Programming Contest Team
contest@fsu.acm.org
{% endautoescape %}
