{% extends 'base.html' %}
{% load static %}

{% block title %}Group Registration{% endblock %}

{% block content %}
<div class="row justify-content-center">
	<h1>Group Registeration</h1>
</div>
{% if messages %}
	{% for message in messages %}
		{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
			<div class="alert alert-danger alert-dismissible fade show mt-3">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{% if message.tags %}<strong>{{ message.tags }}</strong>{% endif %} {{ message }}
			</div>
		{% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
			<div class="alert alert-warning alert-dismissible fade show mt-3">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{% if message.tags %}<strong>{{ message.tags }}</strong>{% endif %} {{ message }}
			</div>
		{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
			<div class="alert alert-success alert-dismissible fade show mt-3">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{% if message.tags %}<strong>{{ message.tags }}</strong>{% endif %} {{ message }}
			</div>
		{% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
			<div class="alert alert-info alert-dismissible fade show mt-3">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{% if message.tags %}<strong>{{ message.tags }}</strong>{% endif %} {{ message }}
			</div>
		{% endif %}
	{% endfor %}
{% endif %}
		
<form method="post">
	<div class="row">
		{% csrf_token %}
		{{ formset.management_form }}
		{% for form in formset %}
			<div class="col-md">
				{% for field in form %}
					<p>
						<h5>{{ field.label_tag }}</h5>
						{{ field }}<br>				
						<small class="form-text text-muted">
							{% for error in field.errors %}
							<p class="text-monospace font-weight-lighter text-danger mb-0">-{{ error }}</p>
							{% endfor %}

							{% if field.help_text %}
							{{ field.help_text }}
							{% endif %}
						</small>				
					</p>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
	<button class="btn btn-primary" type="submit">Submit</button>
</form>
	

<br>
{% endblock %}