{% extends 'core/base.html' %}
{% load static %}

{% block section %}Recover Username{% endblock %}

{% block content %}

<h1 class="text-center">Recover Username</h1>

<!-- Messages -->
{% include 'core/messages.html' %}
<!-- End Messages -->
<div class="row justify-content-center">
	<form class="mb-3" method="post">
		{% csrf_token %}
		{% for field in form %}
		<p>
		{{ field }}<br>
		<small class="form-text text-muted">
			{% for error in field.errors %}
			<p class="text-monospace font-weight-lighter text-danger mb-0">-{{ error }}</p>
			{% endfor %}

			{% if field.help_text %}
			{{ field.help_text }}
			{% endif %}
		</small>
		</p>
		{% endfor %}
		<button class="btn btn-sm btn-primary" type="submit">Submit</button>
		<a class="btn btn-secondary btn-sm" href="{% url 'login' %}" role="button">Cancel</a>
	</form>
</div>
{% endblock %}
