{% extends 'base.html' %}
{% load static %}

{% block section %}Registration Information{% endblock %}

{% block content %}

<h1 class="text-center">Contest Registration</h1>

<div class="row justify-content-center">
	<div class="col">
		<div class="jumbotron shadow bg-white mt-4">
			<h3 class="text-center">Important notes!</h3>
			<ul>
				<li>In order to compete, your account <span class="font-weight-bold">MUST</span> be attached to a contest team. Please reference the Teams section of the <a href="{% url 'faq' %}#teams" target="_blank">FAQ</a> regarding competing alone or with your peers.</li>
				<li>In order to receive extra credit for participation you <span class="font-weight-bold">MUST</span> add both your FSU ID and courses to your account. Please reference the Account section of the <a href="{% url 'faq' %}#account" target="_blank">FAQ</a> for details.</li>
				<li>Your email address does <span class="font-weight-bold">NOT</span> need to be an FSU email, but it <span class="font-weight-bold">MUST</span> be valid and accessible by you.</li>
			</ul>
		</div>
	</div>
</div>
<div class="row justify-content-center">
	<a href="{% url 'register_account' %}" class="btn btn btn-primary active" role="button" aria-pressed="true">Proceed</a>
</div>
{% endblock %}
