{% extends 'core/base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="row justify-content-center">
	<h1>Contest Registeration</h1>
</div>
<div class="row justify-content-center">
	<div class="shadow bg-white rounded">
		<h6>Important notes!</h6>
		<ul>
			<li>Completing the Contest Registration Form allows you to compete in the contest.</li>
			<li>Team information</li>
			<li>EC information</li>
			<li>The username you choose is <span class="font-weight-bold">NOT</span> the... </li>
			<li>Your email address does <span class="font-weight-bold">NOT</span> have to be an FSU email</li>
		</ul>
	</div>
</div>
<br>
<div class="row justify-content-center">
	<a href="{% url 'account' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Proceed</a>
</div>
{% endblock %}
