{% extends 'base.html' %}
{% load static %}

{% block section %}{{ page_title }}{% endblock %}

{% block content %}

<h1 class="text-center">{{ heading }} Registration</h1>

<!-- Messages -->
{% include 'messages.html' %}
<!-- End Messages -->
<div class="row justify-content-center">
	<div class="col col-md-6 col-lg-4">
		<form class="mb-3" method="post">
			<div class="card">
				<div class="card-body">
					{% csrf_token %}
					{% for field in form %}
					<p>
						<h5>{{ field.label_tag }}</h5>
						{{ field }}<br>				
						<small class="form-text text-muted">
							{% for error in field.errors %}
							<p class="text-monospace font-weight-lighter text-danger mb-0">-{{ error }}</p>
							{% endfor %}

							{% if field.help_text %}
							{{ field.help_text }}
							{% endif %}
						</small>				
					</p>
					{% endfor %}
				</div>
				<div class="card-footer">
					<button class="btn btn-sm btn-primary" type="submit">Submit</button>
					{% if heading == 'Team' %}
					<a class="btn btn-secondary btn-sm" href="{% url 'manage_dashboard' %}" role="button">Cancel</a>
					{% else %}
					<a class="btn btn-secondary btn-sm" href="{% url 'index' %}" role="button">Cancel</a>
					{% endif %}
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}